{% block title 'Co je Symfony' %}
{% block keywords '' %}
{% block description 'Co je Symfony - Začněte tady, jestli chcete krátké stručné vysvětlení.' %}

{% block intro %}
    <h2 class="title_05">SYMFONY NA PRVNÍ POHLED</h2>
    <p>
        Symfony je PHP framework pro vývoj webových aplikací.
        <br />
        Není to odpověď na vaši otázku?
        <br />
        Dobře, zkusme to tedy ještě jednou.
        <br />
        Symfony je harmonické spojení PHP frameworku, filosofie a komunity.
    </p>
{% endblock %}

{% block more 'Více informací' %}

{% block fiveminutes %}
    <h2 class="title_05">SYMFONY V 5 MINUTÁCH</h2>
    <p></p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('why-use-a-framework') }}">Proč použít framework?</a></li>
        <li><a href="{{ marketing_path('when-use-a-framework') }}">Kdy je vhodné použít framework?</a></li>
        <li><a href="{{ marketing_path('six-good-reasons') }}">6 dobrých důvodů, proč se rozhodnout pro Symfony</a></li>
        <li><a href="{{ marketing_path('six-good-technical-reasons') }}">Technologické výhody Symfony v 6 bodech</a></li>
        <li><a href="{{ marketing_path('ten-criteria') }}">10 zásad pro výběr správného frameworku</a></li>
    </ul>
{% endblock %}

{% block elevatorpitches %}
    <h2 class="title_05">SYMFONY VE ZKRATCE</h2>
    <p>Jak vysvětlit a popsat Symfony2 framework &hellip;</p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('explained-to-my-boss') }}">&hellip; šéfovi</a></li>
        <li><a href="{{ marketing_path('explained-to-a-developer') }}">&hellip; vývojáři</a></li>
        <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">&hellip; systémovému administrátorovi</a></li>
        <li><a href="{{ marketing_path('explained-to-a-project-manager') }}">&hellip; projektovému manažerovi</a></li>
        <li><a href="{{ marketing_path('explained-to-a-project-owner') }}">&hellip; zadavateli projektu</a></li>
    </ul>
{% endblock %}
