{% block title 'Elevator Pitches de Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained-to-my-boss') }}">Symfony expliqué à mon boss</a></li>
    <li><a href="{{ marketing_path('explained-to-a-developer') }}">Symfony expliqué à un développeur</a></li>
    <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">Symfony expliqué à un administrateur système</a></li>
    <li><a href="{{ marketing_path('explained-to-a-project-manager') }}">Symfony expliqué à un chef de projet</a></li>
    <li><a href="{{ marketing_path('explained-to-a-project-owner') }}">Symfony expliqué à un maître d'ouvrage</a></li>
{% endblock %}
