{% block title 'Symfony en 5 minutes' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('why-use-a-framework') }}">Pourquoi dois-je utiliser un framework?</a></li>
    <li><a href="{{ marketing_path('when-use-a-framework') }}">Quand dois-je utiliser un framework?</a></li>
    <li><a href="{{ marketing_path('six-good-reasons') }}">6 bonnes raisons pour utiliser Symfony</a></li>
    <li><a href="{{ marketing_path('six-good-technical-reasons') }}">Les avantages technologiques de Symfony en 6 leçons faciles</a></li>
    <li><a href="{{ marketing_path('ten-criteria') }}">10 critères pour choisir le bon framework</a></li>
{% endblock %}
