{% block title 'Symfony Elevator Pitches' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained-to-my-boss') }}">Symfony explained to my boss</a></li>
    <li><a href="{{ marketing_path('explained-to-a-developer') }}">Symfony explained to a developer</a></li>
    <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">Symfony explained to a system administrator</a></li>
    <li><a href="{{ marketing_path('explained-to-a-project-manager') }}">Symfony explained to a project manager</a></li>
    <li><a href="{{ marketing_path('explained-to-a-project-owner') }}">Symfony explained to a project owner</a></li>
{% endblock %}
