{% block title 'Symfony为何物' %}
{% block keywords '' %}
{% block description 'Symfony为何物 - 如果你需要一个简单的解释，从这里开始' %}

{% block intro %}
    <h2 class="title_05">看一眼SYMFONY</h2>
    <p>
        Symfony是一种PHP Web开发框架。
        <br />
        这没有回答你清楚的问题?
        <br />
        好吧，我们重来一遍。
        <br />
        Symfony是一种PHP框架，一门哲学，一个社区 - 三者一起融合运作。
    </p>
{% endblock %}

{% block more '了解更多' %}

{% block fiveminutes %}
    <h2 class="title_05">SYMFONY的5分钟</h2>
    <p></p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('why-use-a-framework') }}">为什么我需要使用一个框架？</a></li>
        <li><a href="{{ marketing_path('when-use-a-framework') }}">什么时候我应当考虑使用框架？</a></li>
        <li><a href="{{ marketing_path('six-good-reasons') }}">6个使用Symfony的优势理由</a></li>
        <li><a href="{{ marketing_path('six-good-technical-reasons') }}">6堂简单的课程熟悉Symfony的技术性好处</a></li>
        <li><a href="{{ marketing_path('ten-criteria') }}">10个准则来选择正确的开发框架</a></li>
    </ul>
{% endblock %}

{% block elevatorpitches %}
    <h2 class="title_05">有力说辞</h2>
    <p>Symfony2 解释...</p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('explained-to-my-boss') }}">... 给我的老板</a></li>
        <li><a href="{{ marketing_path('explained-to-a-developer') }}">... 给一个开发员</a></li>
        <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">... 给一个系统管理员</a></li>
        <li><a href="{{ marketing_path('explained-to-project-manager') }}">... 给一个项目经理</a></li>
        <li><a href="{{ marketing_path('explained-to-project-owner') }}">... 给一个项目所有人</a></li>
    </ul>
{% endblock %}
