{% block title 'Czym jest Symfony' %}
{% block keywords '' %}
{% block description 'Czym jest Symfony - Zacznij tutaj, jeśli potrzebujesz krótkiego wyjaśnienia' %}

{% block intro %}
    <h2 class="title_05">SYMFONY W SKRÓCIE</h2>
    <p>
        Symfony to framework aplikacji internetowych napisany w PHP.
        <br />
        Nie takiej odpowiedzi szukasz?
        <br />
        Dobrze, spróbujmy jeszcze raz.
        <br />
        Symfony to framework PHP, Filozofia i Społeczność - wszystkie współpracujące ze sobą w harmonii.
    </p>
{% endblock %}

{% block more 'Dowiedz się więcej' %}

{% block fiveminutes %}
    <h2 class="title_05">SYMFONY W 5 MINUT</h2>
    <p></p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('why-use-a-framework') }}">Dlaczego powinienem używać frameworka?</a></li>
        <li><a href="{{ marketing_path('when-use-a-framework') }}">Kiedy powinienem używać frameworka?</a></li>
        <li><a href="{{ marketing_path('six-good-reasons') }}">6 dobrych powodów by używać Symfony</a></li>
        <li><a href="{{ marketing_path('six-good-technical-reasons') }}">Technologiczne zalety używania Symfony w 6 przystępnych lekcjach</a></li>
        <li><a href="{{ marketing_path('ten-criteria') }}">10 kryteriów wyboru właściwego frameworka</a></li>
    </ul>
{% endblock %}

{% block elevatorpitches %}
    <h2 class="title_05">ROZMOWY W WINDZIE</h2>
    <p>Symfony2 wyjaśnione...</p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('explained-to-my-boss') }}">... mojemu szefowi</a></li>
        <li><a href="{{ marketing_path('explained-to-a-developer') }}">... programiście</a></li>
        <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">... administratorowi</a></li>
        <li><a href="{{ marketing_path('explained-to-project-manager') }}">... kierownikowi projektu</a></li>
        <li><a href="{{ marketing_path('explained-to-project-owner') }}">... sponsorowi</a></li>
    </ul>
{% endblock %}
