{% block title 'Symfony Elevator Pitches' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained-to-my-boss') }}">向我的上司介绍 Symfony</a></li>
    <li><a href="{{ marketing_path('explained-to-a-developer') }}">向开发者介绍 Symfony</a></li>
    <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">向系统管理员介绍 Symfony</a></li>
    <li><a href="{{ marketing_path('explained-to-project-manager') }}">向项目经理介绍 Symfony</a></li>
    <li><a href="{{ marketing_path('explained-to-project-owner') }}">向项目负责人介绍 Symfony</a></li>
{% endblock %}
