{% block title '五分钟了解 Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('why_use_a_framework') }}">我为什么需要使用框架？</a></li>
    <li><a href="{{ marketing_path('when_use_a_framework') }}">我应在什么场合使用框架？</a></li>
    <li><a href="{{ marketing_path('six_good_reasons') }}">六个使用 Symfony 的理由</a></li>
    <li><a href="{{ marketing_path('six_good_technical_reasons') }}">以六个小教程了解 Symfony 技术相关的优势</a></li>
    <li><a href="{{ marketing_path('ten_criteria') }}">选择正确框架的十个准则</a></li>
{% endblock %}
