{% block title '什么是 Symfony' %}
{% block keywords '' %}
{% block description '什么是 Symfony - 如果你需要一个简短的解释，请从这里开始' %}

{% block intro %}
    <h2 class="title_05">SYMFONY 一览</h2>
    <p>
        Symfony 是一个PHP网站开发框架。
        <br />
        这没能回答您的问题？
        <br />
        没问题，让我们再试一次。
        <br />
        Symfony 是一个PHP框架、一种理念、一个社区 —— 一起完美地运作。
    </p>
{% endblock %}

{% block more '了解更多' %}

{% block fiveminutes %}
    <h2 class="title_05">5分钟了解 Symfony</h2>
    <p></p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('why-use-a-framework') }}">我为什么需要使用框架？</a></li>
        <li><a href="{{ marketing_path('when-use-a-framework') }}">我在应在什么场合使用框架？</a></li>
        <li><a href="{{ marketing_path('six-good-reasons') }}">六个使用 Symfony 的理由</a></li>
        <li><a href="{{ marketing_path('six-good-technical-reasons') }}">以六个小教程了解 Symfony 技术相关的优势</a></li>
        <li><a href="{{ marketing_path('ten-criteria') }}">选择正确框架的十个准则</a></li>
    </ul>
{% endblock %}

{% block elevatorpitches %}
    <h2 class="title_05">ELEVATOR PITCHES</h2>
    <p>向……介绍 Symfony2</p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('explained-to-my-boss') }}">...向我的上司</a></li>
        <li><a href="{{ marketing_path('explained-to-a-developer') }}">...向开发者</a></li>
        <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">...向系统管理员</a></li>
        <li><a href="{{ marketing_path('explained-to-a-project-manager') }}">...向项目经理</a></li>
        <li><a href="{{ marketing_path('explained-to-a-project-owner') }}">...向项目负责人</a></li>
    </ul>
{% endblock %}
