{% block title 'Cos\'è Symfony' %}
{% block keywords '' %}
{% block description 'Cos\'è Symfony - Punto di partenza con una breve spiegazione' %}

{% block intro %}
    <h2 class="title_05">PANORAMICA SU SYMFONY</h2>
    <p>
        Symfony è un framework per lo svilupop web in PHP.
        <br />
        Non è abbastanza?
        <br />
        Ok, proviamo di nuovo.
        <br />
        Symfony è un framework PHP, una filosofia, una comunità, tutto funzionante insieme in armonia.
    </p>
{% endblock %}

{% block more 'Approfondire' %}

{% block fiveminutes %}
    <h2 class="title_05">SYMFONY IN 5 MINUTI</h2>
    <p></p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('why-use-a-framework') }}">Perché dovrei usare un framework?</a></li>
        <li><a href="{{ marketing_path('when-use-a-framework') }}">Quando dovrei usare un framework?</a></li>
        <li><a href="{{ marketing_path('six-good-reasons') }}">Sei buone ragioni per usare Symfony</a></li>
        <li><a href="{{ marketing_path('six-good-technical-reasons') }}">Benefici tecnologici di Symfony in sei brevi lezioni</a></li>
        <li><a href="{{ marketing_path('ten-criteria') }}">Dieci criteri per scegliere il framework giusto</a></li>
    </ul>
{% endblock %}

{% block elevatorpitches %}
    <h2 class="title_05">ELEVATOR PITCH</h2>
    <p>Symfony2 spiegato...</p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('explained-to-my-boss') }}">... al mio capo</a></li>
        <li><a href="{{ marketing_path('explained-to-a-developer') }}">... a uno sviluppatore</a></li>
        <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">... a un sistemista</a></li>
        <li><a href="{{ marketing_path('explained-to-project-manager') }}">... a un project manager</a></li>
        <li><a href="{{ marketing_path('explained-to-project-owner') }}">... a un cliente</a></li>
    </ul>
{% endblock %}
