{% block title "Qu'est ce que Symfony" %}
{% block keywords '' %}
{% block description "Qu'est ce que Symfony - Commencez ici si vous voulez une explication rapide" %}

{% block symfony_description %}
    &laquo; Symfony est un ensemble de composants PHP, un framework
    pour application web, une philosophie, ainsi qu'une communauté
    &mdash; le tout fonctionnant en harmonie. &raquo;
{% endblock %}

{% block title_symfony_framework %}Le framework Symfony{% endblock %}
{% block description_symfony_framework %}
    <p>
        Le framework PHP leader pour la création de sites web
        et d'applications web. Construit sur les composants
        Symfony.
    </p>
{% endblock %}

{% block title_symfony_components %}Les composants Symfony{% endblock %}
{% block description_symfony_components %}
    <p>
        Un ensemble de composants découplés et réutilisables sur
        lesquels les meilleurs applications PHP sont construites,
        tel que Drupal, phpBB ou bien eZ Publish.
    </p>
{% endblock %}

{% block title_symfony_community %}La communauté Symfony{% endblock %}
{% block description_symfony_community %}
    <p>
        Une large communauté de fans de Symfony
        engagée à élevé PHP à un autre niveau.
    </p>
{% endblock %}

{% block title_symfony_philosophy %}La philosophie Symfony{% endblock %}
{% block description_symfony_philosophy %}
    <p>
        Adopter et promouvoir le professionnalisme,
        les bonnes pratiques, la standardisation
        et l'interopérabilité des applications.
    </p>
{% endblock %}

{% block title_symfony_stats %}Les statistiques du projet Symfony{% endblock %}
{% block symfony_stats_contributors %}+2,000 <span>contributeurs</span>{% endblock %}
{% block symfony_stats_developers %}+300,000 <span>développeurs Symfony</span>{% endblock %}
{% block symfony_stats_downloads %}+5,000,000 <span>téléchargements mensuels</span>{% endblock %}

{% block title_symfony_five_minutes %}Symfony en 5 minutes{% endblock %}
{% block description_symfony_five_minutes %}
    <ul>
        <li><a href="{{ marketing_path('why-use-a-framework') }}">Pourquoi devrais-je utiliser un framework ?</a></li>
        <li><a href="{{ marketing_path('when-use-a-framework') }}">Quand devrais-je utiliser un framework ?</a></li>
        <li><a href="{{ marketing_path('six-good-reasons') }}">6 bonnes raisons d'utiliser Symfony</a></li>
        <li><a href="{{ marketing_path('six-good-technical-reasons') }}">Les bénéfices technologiques de Symfony en 6 leçons simples</a></li>
        <li><a href="{{ marketing_path('ten-criteria') }}">10 critères pour choisir le bon framework</a></li>
    </ul>
{% endblock %}

{% block title_elevator_pitches %}Elevator pitches{% endblock %}
{% block description_elevator_pitches %}
    <p>Symfony expliqué...</p>
    <ul>
        <li><a href="{{ marketing_path('explained-to-my-boss') }}">... à mon patron</a></li>
        <li><a href="{{ marketing_path('explained-to-a-developer') }}">... à un développeur</a></li>
        <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">... à un administrateur système</a></li>
        <li><a href="{{ marketing_path('explained-to-project-manager') }}">... à un chef de projet</a></li>
        <li><a href="{{ marketing_path('explained-to-project-owner') }}">... à un maître d'ouvrage</a></li>
    </ul>
{% endblock %}

{% block title_quick_tour %}Le Quick Tour{% endblock %}
{% block description_quick_tour %}
    <p>
        Quoi de mieux pour faire votre propre opinion plutôt que
        d'essayer sur Symfony vous-même ? Mis à part un peu de temps,
        cela ne vous coûtera rien. Étape par étape, vous explorerez
        l'univers Symfony. Soyez prudent, Symfony peut devenir
        addictif dès la première rencontre.
    </p>
{% endblock %}


{% block link_read 'Lire en ligne' %}
{% block link_download_pdf 'Télécharger au format PDF' %}

{% block title_symfony_ecosystem %}L'écosystème Symfony{% endblock %}
{% block description_symfony_ecosystem %}
    <p>Ces projets PHP bien connus sont aussi nés de ou autour de Symfony :</p>
    <ul>
        <li><a href="http://silex.sensiolabs.org/">Silex</a>, le microframework PHP construit avec les composants Symfony</li>
        <li><a href="http://twig.sensiolabs.org/">Twig</a>, le rapide, sécurisé et moderne moteur de template PHP</li>
        <li><a href="http://swiftmailer.org/">Swiftmailer</a>, la solution simple et efficace pour envoyer vos emails</li>
    </ul>
{% endblock %}
