{% block title 'Componenti di Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Oltre a essere un framework completo, Symfony è anche un insieme di
        componenti autonomi e disaccoppiati.
    </p>
{% endblock %}

{% block body %}
    <h2 class="title_09"><a name="framework">Cos'è un component?</a></h2>
    <p>
        I componenti di Symfony implementano caratteristiche comunemente necessarie per lo
        sviluppo di siti web. Sono le fondamenta del framework completo di Symfony,
        ma possono anche essere usati autonomamente, senza usare
        l'intero framework, non avendo dipendenze obbligatorie.
    </p>
    <h2 class="title_09"><a name="framework">Installazione</a></h2>
    <p>
        Si può installare ogni componente in vari modi:
        <ul>
            <li>
                <strong>Raccomandato</strong>
                Usando Composer
                (<code>symfony/<strong>nome-del-componente</strong></code> su Packagist).
            </li>
            <li>
                Usando il repository ufficiale su Git
                (<code>https://github.com/symfony/<strong>NomeDelComponente</strong></code>);
            </li>
            <li>
                <strong>Obsoleto</strong>
                Tramite PEAR
                (<code>pear.symfony.com/<strong>NomeDelComponente</strong></code>);
            </li>
        </ul>
    </p>
    <p>Per esempio, per installare il componente <code>HttpFoundation</code>:</p>
    <h3 class="title_05">Con Composer</h3>
    <div class="highlight-bash">
        <div class="highlight">
                <pre>{
    "require": {
        "symfony/http-foundation": "v2.0.11"
    }
}</pre>
        </div>
    </div>
    <h3 class="title_05">Con Git</h3>
    <div class="highlight-bash">
        <div class="highlight">
            <pre>git clone https://github.com/symfony/HttpFoundation vendor/</pre>
        </div>
    </div>
    <h3 class="title_05">Con PEAR</h3>
    <div class="highlight-bash">
        <div class="highlight">
                <pre>pear channel-discover pear.symfony.com
pear install symfony2/HttpFoundation</pre>
        </div>
    </div>
    <h2 class="title_09"><a name="framework">I componenti</a></h2>
    <table class="component-list">
        <thead>
            <tr>
                <th>Componente</th>
                <th>Descrizione</th>
                <th>Codice</th>
                <th>Documentazione</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>BrowserKit</strong></td>
                <td>Simula il comportamento di un browser.</td>
                <td><a href="https://github.com/symfony/BrowserKit">Code</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong>ClassLoader</strong></td>
                <td>Carica automaticamente le classi di un progetto, se seguono alcune convenzioni standard di PHP.</td>
                <td><a href="https://github.com/symfony/ClassLoader">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'class_loader', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>Config</strong></td>
                <td>Aiuta a trovare, caricare, combinare, completare e validare valori di configurazione.</td>
                <td><a href="https://github.com/symfony/Config">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'config/introduction', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>Console</strong></td>
                <td>Facilita la creazione di interfacce a linea di comando.</td>
                <td><a href="https://github.com/symfony/Console">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'console/introduction', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>CssSelector</strong></td>
                <td>Converte selettori CSS in espressioni XPath.</td>
                <td><a href="https://github.com/symfony/CssSelector">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'css_selector', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>Debug</strong></td>
                <td>Fornisce strumenti per facilitare il debug del codice.</td>
                <td><a href="https://github.com/symfony/Debug">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'debug', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>DependencyInjection</strong></td>
                <td>Consente di standardizzare e centralizzare il modo in cui gli oggetti sono costruiti in un'applicazione.</td>
                <td><a href="https://github.com/symfony/DependencyInjection">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'dependency_injection/introduction', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>DomCrawler</strong></td>
                <td>Facilita la navigazione nel DOM per documenti HTML e XML.</td>
                <td><a href="https://github.com/symfony/DomCrawler">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'dom_crawler', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>EventDispatcher</strong></td>
                <td>Implementa una versione leggera del pattern Observer.</td>
                <td><a href="https://github.com/symfony/EventDispatcher">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'event_dispatcher/introduction', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>Filesystem</strong></td>
                <td>Fornisce utilità di base per il filesystem.</td>
                <td><a href="https://github.com/symfony/Filesystem">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'filesystem', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>Finder</strong></td>
                <td>Trova file e cartelle tramite un'interfaccia fluida e intuitiva.</td>
                <td><a href="https://github.com/symfony/Finder">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'finder', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>Form</strong></td>
                <td>&nbsp;</td>
                <td><a href="https://github.com/symfony/Form">Codice</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong>HttpFoundation</strong></td>
                <td>Definisce un livello orientato agli oggetti per le specifiche HTTP.</td>
                <td><a href="https://github.com/symfony/HttpFoundation">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'http_foundation/introduction', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>HttpKernel</strong></td>
                <td>Fornisce i mattoni per costruire framework flessibili e veloci.</td>
                <td><a href="https://github.com/symfony/HttpKernel">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'http_kernel/introduction', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>Locale</strong></td>
                <td>
                    Fornisce codice per gestire casi di mancanza dell'estensione intl. Questo componente è deprecato dalla 2.3, usare
                    <a href="{{ doc_path({
                        'version': 'current',
                        'section': 'components',
                        'page':    'intl'})
                    }}">Intl</a> al suo posto.
                </td>
                <td><a href="https://github.com/symfony/Locale">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'locale', 'version': '2.2'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>Intl</strong></td>
                <td>Fornisce codice per gestire casi di mancanza dell'estensione intl.</td>
                <td><a href="https://github.com/symfony/Intl">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'intl', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>Icu</strong></td>
                <td>
                    Contiene i dati della libreria ICU in una versione specifica. Da usare tramite le API del componente
                    <a href="{{ doc_path({
                        'version': 'current',
                        'section': 'components',
                        'page':    'intl'})
                    }}">Intl</a>.
                </td>
                <td><a href="https://github.com/symfony/Icu">Codice</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong>OptionsResolver</strong></td>
                <td>Aiuta a configurare oggetti con array di opzioni.</td>
                <td><a href="https://github.com/symfony/OptionsResolver">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'options_resolver', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>Process</strong></td>
                <td>Esegue comandi in sottoprocessi.</td>
                <td><a href="https://github.com/symfony/Process">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'process', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>PropertyAccess</strong></td>
                <td>Fornisce funzioni per leggere e scrivere oggetti o array, usando una semplice notazione stringa.</td>
                <td><a href="https://github.com/symfony/Process">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'property_access/introduction', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>Routing</strong></td>
                <td>Mappa una richiesta  HTTP su un insieme di variabili di configurazione.</td>
                <td><a href="https://github.com/symfony/Routing">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'routing/introduction', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>Security</strong></td>
                <td>Fornisce un'infrastrutture di sistemi di autenticazione sofisticati.</td>
                <td><a href="https://github.com/symfony/Security">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'security/introduction', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>Serializer</strong></td>
                <td>Trasforma oggetti in formati specifici (XML, JSON, Yaml, ...) e viceversa.</td>
                <td><a href="https://github.com/symfony/Serializer">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'serializer', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>Stopwatch</strong></td>
                <td>Fornisce un modo per profilare il codice.</td>
                <td><a href="https://github.com/symfony/Stopwatch">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'stopwatch', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>Templating</strong></td>
                <td>Fornisce strumenti necessari per costruire un sistema di template.</td>
                <td><a href="https://github.com/symfony/Templating">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'templating', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
            <tr>
                <td><strong>Translation</strong></td>
                <td>&nbsp;</td>
                <td><a href="https://github.com/symfony/Translation">Codice</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong>Validator</strong></td>
                <td>&nbsp;</td>
                <td><a href="https://github.com/symfony/Validator">Codice</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong>Yaml</strong></td>
                <td>Carica ed esporta file YAML.</td>
                <td><a href="https://github.com/symfony/Yaml">Codice</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'yaml/introduction', 'version': 'current'}) }}">Documentazione</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
