{% block title 'What is Symfony' %}
{% block keywords '' %}
{% block description 'What is Symfony - Start here if you want a brief explanation' %}

{% block symfony_description %}
    &laquo; Symfony is a set of PHP Components, a Web Application
    framework, a Philosophy, and a Community &mdash; all working
    together in harmony. &raquo;
{% endblock %}

{% block title_symfony_framework %}Symfony Framework{% endblock %}
{% block description_symfony_framework %}
    <p>
        The leading PHP framework to create websites and web
        applications. Built on top of the Symfony Components.
    </p>
{% endblock %}

{% block title_symfony_components %}Symfony Components{% endblock %}
{% block description_symfony_components %}
    <p>
        A set of decoupled and reusable components on which
        the best PHP applications are built on, such as Drupal,
        phpBB and eZ Publish.
    </p>
{% endblock %}

{% block title_symfony_community %}Symfony Community{% endblock %}
{% block description_symfony_community %}
    <p>
        A huge community of Symfony fans committed to
        take PHP to the next level.
    </p>
{% endblock %}

{% block title_symfony_philosophy %}Symfony Philosophy{% endblock %}
{% block description_symfony_philosophy %}
    <p>
        Embracing and promoting professionalism, best
        practices, standardization and interoperability
        of applications.
    </p>
{% endblock %}

{% block title_symfony_stats %}Symfony Project stats{% endblock %}
{% block symfony_stats_contributors %}+2,000 <span>project contributors</span>{% endblock %}
{% block symfony_stats_developers %}+300,000 <span>Symfony developers</span>{% endblock %}
{% block symfony_stats_downloads %}+5,000,000 <span>monthly downloads</span>{% endblock %}

{% block title_symfony_five_minutes %}Symfony in 5 minutes{% endblock %}
{% block description_symfony_five_minutes %}
    <ul>
        <li><a href="{{ marketing_path('why-use-a-framework') }}">Why should I use a framework?</a></li>
        <li><a href="{{ marketing_path('when-use-a-framework') }}">When should I use a framework?</a></li>
        <li><a href="{{ marketing_path('six-good-reasons') }}">6 good reasons to use Symfony</a></li>
        <li><a href="{{ marketing_path('six-good-technical-reasons') }}">The technological benefits of Symfony in 6 easy lessons</a></li>
        <li><a href="{{ marketing_path('ten-criteria') }}">10 criteria for choosing the correct framework</a></li>
    </ul>
{% endblock %}

{% block title_elevator_pitches %}Elevator pitches{% endblock %}
{% block description_elevator_pitches %}
    <p>Symfony2 explained...</p>
    <ul>
        <li><a href="{{ marketing_path('explained-to-my-boss') }}">... to my boss</a></li>
        <li><a href="{{ marketing_path('explained-to-a-developer') }}">... to a developer</a></li>
        <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">... to a system administrator</a></li>
        <li><a href="{{ marketing_path('explained-to-project-manager') }}">... to a project manager</a></li>
        <li><a href="{{ marketing_path('explained-to-project-owner') }}">... to a project owner</a></li>
    </ul>
{% endblock %}

{% block title_quick_tour %}The Quick Tour{% endblock %}
{% block description_quick_tour %}
    <p>
        What could be better to make up your own mind than to try
        out Symfony yourself? Aside from a little time, it will
        cost you nothing. Step by step you will explore the
        Symfony universe. Be careful, Symfony can become addictive
        from the very first encounter.
    </p>
{% endblock %}


{% block link_read 'Read' %}
{% block link_download_pdf 'Download as PDF' %}

{% block title_symfony_ecosystem %}The Symfony Ecosystem{% endblock %}
{% block description_symfony_ecosystem %}
    <p>These well-known PHP projects have also originated from or around Symfony project:</p>
    <ul>
        <li><a href="http://silex.sensiolabs.org/">Silex</a>, the PHP microframework built on top of Symfony Components</li>
        <li><a href="http://twig.sensiolabs.org/">Twig</a>, the fast, safe and modern PHP templating engine</li>
        <li><a href="http://swiftmailer.org/">Swiftmailer</a>, the no-brainer solution to get your emails delivered</li>
    </ul>
{% endblock %}
