{% block title 'Descargar el framework Symfony y sus componentes' %}
{% block keywords '' %}
{% block description 'Descarga el framework Symfony mediante el instalador de Symfony o Composer. Descarga los componentes de Symfony la aplicación Symfony Demo.' %}

{% block symfony_framework_title %}Cómo utilizar el <br/> framework Symfony{% endblock %}

{% block stable_version_tab_title %}
    Usa <strong>Symfony %stable_version%</strong>
    <br>
    para las últimas novedades
{% endblock %}
{% block lts_version_tab_title %}
    Usa <strong>Symfony %lts_version%</strong>
    <br>
    para el soporte largo
{% endblock %}

{% block end_of_support_label %}fin de soporte en{% endblock %}

{% block symfony_installer_title %}Primero <em>instala el Instalador de Symfony</em>. Después, ejecuta el siguiente comando:{% endblock %}

{% block symfony_installer_description %}
    <p>
        El <strong>Instalador de Symfony</strong> es una pequeña aplicación PHP
        que sólo hay que instalar una vez en tu ordenador. Su objetivo es
        simplificar al máximo la creación de proyectos basados en el framework
        Symfony.
    </p>
{% endblock %}

{% block linux_mac_installation_title %}Instalación en Linux y Mac OS X{% endblock %}
{% block windows_installation_title %}Instalación en Windows{% endblock %}
{% block windows_installation_instructions %}
    <p>
        Después, copia el archivo descargago al directorio donde guardas tus
        proyectos y ejecútalo de esta manera: <code>php symfony</code>
    </p>
{% endblock %}

{% block symfony_installer_alternative %}
    <p>
        <strong>Si no puedes usar el instalador</strong> prueba con la
        <a href="{{ doc_path({ page: 'book/installation', version: 'master' }) }}#creating-symfony-applications-without-the-installer">instalación de Symfony mediante Composer</a>.
    </p>
{% endblock %}

{% block label_copy %}Copiar{% endblock %}

{% block symfony_demo_application_title %}Aplicación Symfony Demo{% endblock %}
{% block symfony_demo_application %}
    <p>
        La mejor forma de aprender Symfony y la referencia para desarrollar
        aplicaciones siguiendo las buenas prácticas oficiales.
    </p>
    <p>
        <a href="https://github.com/symfony/symfony-demo">Descárgala gratis</a>
    </p>
{% endblock %}

{% block updates_title %}No te pierdas los lanzamientos{% endblock %}
{% block updates_description %}
    <p>
        Recibe un email cada vez que se publica una versión de Symfony
        o cuando una versión deja de estar soportada.
    </p>
    <p>
        <a href="{{ path('roadmap') }}">Subscríbete gratis</a>
    </p>
{% endblock %}

{% block source_code_title %}Código fuente de Symfony{% endblock %}
{% block source_code_description %}
    Symfony está <a href="https://github.com/symfony/symfony">
    alojado en GitHub</a>. Únete a la comunidad enviando <em>pull requests</em>,
    revisando código o informando sobre errores.
{% endblock %}

{% block open_source_title %}Libre y gratuito{% endblock %}
{% block open_source_description %}
    El código Symfony se publica bajo la
    <a href="{{ path('doc_shortcut', { version: 'current', page: 'contributing/code/license' }) }}">licencia MIT</a>,
    que es cómoda para los programadores y segura para las empresas.
{% endblock %}

{% block symfony_components_title %}Cómo utilizar los <br> Componentes Symfony{% endblock %}

{% block symfony_components_description %}
    <p>
        El framework Symfony está creado con una serie de componentes desacoplados
        y reutilizables llamados <a href="{{ path('marketing_page_shortcut', { name: 'components' }) }}">
        <strong>Componentes Symfony</a></strong>.
        Estos componentes se han convertido en la base utilizada por las mejores
        aplicaciones PHP. Si lo deseas, puedes utilizar cualquiera de estos
        componentes en tus propias aplicaciones de manera independiente al resto
        del framework Symfony.
    </p>
{% endblock %}

{% block symfony_components_instructions %}<p>Añadiendo un componente Symfony en tu aplicación:</p>{% endblock %}

{% block symfony_components_help %}
    <p>
        Antes de ejecutar este comando asegúrate de haber <a href="{{ doc_path({version: 'current', page: 'cookbook/composer' }) }}">instalado Composer globalmente</a> en tu sistema.
    </p>
{% endblock %}

{% block distributions_title %}Distribuciones Symfony{% endblock %}
{% block distributions_description %}
    Echa un vistazo a <a href="{{ path('marketing_page_shortcut', { name: 'distributions' }) }}">nuestras distribuciones</a> listas para aplicaciones REST y CMS.
{% endblock %}

{% block legacy_title %}Descargar versiones anteriores{% endblock %}
{% block legacy_description %}
    <a href="{{ path('legacy_home') }}">Descarga Symfony 1.x</a> para tus
    aplicaciones y proyectos antiguos.
{% endblock %}
