{% block title 'Symfony in 5 minutes' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('why_use_a_framework') }}">Why should I use a framework?</a></li>
    <li><a href="{{ marketing_path('when_use_a_framework') }}">When should I use a framework?</a></li>
    <li><a href="{{ marketing_path('six_good_reasons') }}">6 good reasons to use Symfony</a></li>
    <li><a href="{{ marketing_path('six_good_technical_reasons') }}">The technological benefits of Symfony in 6 easy lessons</a></li>
    <li><a href="{{ marketing_path('ten_criteria') }}">10 criteria for choosing the correct framework</a></li>
{% endblock %}
