{% block title 'Symfony w 5 minut' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('why_use_a_framework') }}">Dlaczego powinienem używać frameworka?</a></li>
    <li><a href="{{ marketing_path('when_use_a_framework') }}">Kiedy powinienem używać frameworka?</a></li>
    <li><a href="{{ marketing_path('six_good_reasons') }}">6 dobrych powodów by używać Symfony</a></li>
    <li><a href="{{ marketing_path('six_good_technical_reasons') }}">Technologiczne zalety używania Symfony w 6 przystępnych lekcjach</a></li>
    <li><a href="{{ marketing_path('ten_criteria') }}">10 kryteriów wyboru właściwego frameworka</a></li>
{% endblock %}
