{% block title 'Symfony有力说辞' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained-to-my-boss') }}">Symfony解释给我的老板听</a></li>
    <li><a href="{{ marketing_path('explained-to-a-developer') }}">Symfony解释给一个开发员听</a></li>
    <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">Symfony解释给一个系统管理员听</a></li>
    <li><a href="{{ marketing_path('explained-to-a-project-manager') }}">Symfony解释给一个项目经理听</a></li>
    <li><a href="{{ marketing_path('explained-to-a-project-owner') }}">Symfony解释给一个项目所有人听</a></li>
{% endblock %}
