{% block title 'Symfony 5分钟' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('why-use-a-framework') }}">为什么我需要使用一个框架？</a></li>
    <li><a href="{{ marketing_path('when-use-a-framework') }}">什么时候我应当考虑使用框架？</a></li>
    <li><a href="{{ marketing_path('six-good-reasons') }}">6个使用Symfony的优势理由</a></li>
    <li><a href="{{ marketing_path('six-good-technical-reasons') }}">6堂简单的课程熟悉Symfony的技术性好处</a></li>
    <li><a href="{{ marketing_path('ten-criteria') }}">10个准则来选择正确的开发框架</a></li>
{% endblock %}
