{% block title 'Symfony Elevator Pitches' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained-to-my-boss') }}">Symfony kurz erklärt für meinen Chef</a></li>
    <li><a href="{{ marketing_path('explained-to-a-developer') }}">Symfony kurz erklärt für einen Entwickler</a></li>
    <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">Symfony kurz erklärt für einen System-Administrator</a></li>
    <li><a href="{{ marketing_path('explained-to-a-project-manager') }}">Symfony kurz erklärt für einen Projektmanager</a></li>
    <li><a href="{{ marketing_path('explained-to-a-project-owner') }}">Symfony kurz erklärt für einen Auftraggeber</a></li>
{% endblock %}
