{% block title 'Symfony in 5 Minuten' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('why-use-a-framework') }}">Warum sollte ich ein Framework benutzen?</a></li>
    <li><a href="{{ marketing_path('when-use-a-framework') }}">Wann sollte ich ein Framework benutzen?</a></li>
    <li><a href="{{ marketing_path('six-good-reasons') }}">6 gute Gr端nde f端r Symfony</a></li>
    <li><a href="{{ marketing_path('six-good-technical-reasons') }}">Die technischen Vorz端ge von Symfony in 6 einfachen Lektionen</a></li>
    <li><a href="{{ marketing_path('ten-criteria') }}">10 Kriterien f端r die Auswahl des geeigneten Frameworks</a></li>
{% endblock %}
