{% block title 'Rozmowy w Windzie o Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained_to_my_boss') }}">Symfony wyjaśnione mojemu szefowi</a></li>
    <li><a href="{{ marketing_path('explained_to_a_developer') }}">Symfony wyjaśnione programiście</a></li>
    <li><a href="{{ marketing_path('explained_to_a_system_administrator') }}">Symfony wyjaśnione administratorowi</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_manager') }}">Symfony wyjaśnione kierownikowi projektu</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_owner') }}">Symfony wyjaśnione sponsorowi</a></li>
{% endblock %}
