{% block title 'Symfony w 5 minut' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('why-use-a-framework') }}">Dlaczego powinienem używać frameworka?</a></li>
    <li><a href="{{ marketing_path('when-use-a-framework') }}">Kiedy powinienem używać frameworka?</a></li>
    <li><a href="{{ marketing_path('six-good-reasons') }}">6 dobrych powodów by używać Symfony</a></li>
    <li><a href="{{ marketing_path('six-good-technical-reasons') }}">Technologiczne zalety używania Symfony w 6 przystępnych lekcjach</a></li>
    <li><a href="{{ marketing_path('ten-criteria') }}">10 kryteriów wyboru właściwego frameworka</a></li>
{% endblock %}
