{% block title 'Symfony v 5 minutách' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('why_use_a_framework') }}">Proč použít framework?</a></li>
    <li><a href="{{ marketing_path('when_use_a_framework') }}">Kdy je vhodné použít framework?</a></li>
    <li><a href="{{ marketing_path('six_good_reasons') }}">6 dobrých důvodů, proč se rozhodnout pro Symfony</a></li>
    <li><a href="{{ marketing_path('six_good_technical_reasons') }}">Technologické výhody Symfony v 6 bodech</a></li>
    <li><a href="{{ marketing_path('ten_criteria') }}">10 zásad pro výběr správného frameworku</a></li>
{% endblock %}
