{% block title 'Čo je Symfony' %}
{% block keywords '' %}
{% block description 'Čo je Symfony - začnite tu ak potrebujete stručné vysvetlenie' %}

{% block intro %}
    <h2 class="title_05">SYMFONY V SKRATKE</h2>
    <p>
        Symfony je PHP framework pre vývoj web aplikácií.
        <br />
        Nedostatočná odpoveď?
        <br />
        Ok, skúsme to ešte raz.
        <br />
        Symfony je harmonické spojenie PHP frameworku, filozofie a rozsiahlej komunity.
    </p>
{% endblock %}

{% block more 'Dozvedieť sa viac' %}

{% block fiveminutes %}
    <h2 class="title_05">SYMFONY V 5 MINÚTACH</h2>
    <p></p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('why_use_a_framework') }}">Prečo použit framework?</a></li>
        <li><a href="{{ marketing_path('when_use_a_framework') }}">Kedy je vhodné použit framework?</a></li>
        <li><a href="{{ marketing_path('six_good_reasons') }}">6 dobrých dôvodov, prečo použiť framework</a></li>
        <li><a href="{{ marketing_path('six_good_technical_reasons') }}">Technologické výhody Symfony v 6 jednoduchých lekciách</a></li>
        <li><a href="{{ marketing_path('ten_criteria') }}">10 zásad pre výber správneho frameworku</a></li>
    </ul>
{% endblock %}

{% block elevatorpitches %}
    <h2 class="title_05">SYMFONY STRUČNE</h2>
    <p>Vysvetlenie pre ...</p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('explained_to_my_boss') }}">... šéfa</a></li>
        <li><a href="{{ marketing_path('explained_to_a_developer') }}">... programátora</a></li>
        <li><a href="{{ marketing_path('explained_to_a_system_administrator') }}">... administrátora</a></li>
        <li><a href="{{ marketing_path('explained_to_a_project_manager') }}">... manažéra projektu</a></li>
        <li><a href="{{ marketing_path('explained_to_a_project_owner') }}">... vlastníka projektu</a></li>
    </ul>
{% endblock %}