{% block title 'Kaj je Symfony' %}
{% block keywords '' %}
{% block description 'Kaj je Symfony - Pričnite tu za kratko razlago' %}

{% block symfony_description %}
    &laquo; Symfony je skupek komponent PHP, ogrodje za spletne
    aplikacije, filozofija in skupnost &mdash; kjer vse deluje
    skupaj v harmoniji &raquo;
{% endblock %}

{% block title_symfony_framework %}Ogrodje Symfony{% endblock %}
{% block description_symfony_framework %}
    <p>
        Vodilno PHP ogrodje za izdelavo spletnih strani in spletnih
        aplikacij. Zgrajeno na vrhu komponent Symfony.
    </p>
{% endblock %}

{% block title_symfony_components %}Komponente Symfony{% endblock %}
{% block description_symfony_components %}
    <p>
        Skupek nevezanih in ponovno uporabljivih komponent na katerih
        so zgrajene najboljše PHP aplikacije, kot je Drupal,
        phpBB in eZ Publish.
    </p>
{% endblock %}

{% block title_symfony_community %}Skupnost Symfony{% endblock %}
{% block description_symfony_community %}
    <p>
        Ogromna skupnost oboževalcev Symfony, zavezanih, da
        pripeljejo PHP na naslednji nivo.
    </p>
{% endblock %}

{% block title_symfony_philosophy %}Filozofija Symfony{% endblock %}
{% block description_symfony_philosophy %}
    <p>
        Sprejemanja in spodbujanje profesionalnosti, najboljših
        praks, standardizacije in interoperabilnosti
        aplikacij.
    </p>
{% endblock %}

{% block title_symfony_stats %}Statistika projetka Symfony{% endblock %}
{% block symfony_stats_contributors %}+2,000 <span>prispevalcev projekta</span>{% endblock %}
{% block symfony_stats_developers %}+300,000 <span>razvijalev Symfony</span>{% endblock %}
{% block symfony_stats_downloads %}+5,000,000 <span>mesečnih prenosov</span>{% endblock %}

{% block title_symfony_five_minutes %}Symfony v 5-ih minutah{% endblock %}
{% block description_symfony_five_minutes %}
    <ul>
        <li><a href="{{ marketing_path('why-use-a-framework') }}">Zakaj bi uporabil ogrodje?</a></li>
        <li><a href="{{ marketing_path('when-use-a-framework') }}">Kdaj bi moral uporabiti ogrodje?</a></li>
        <li><a href="{{ marketing_path('six-good-reasons') }}">6 dobrih razlogov za uporabo Symfony</a></li>
        <li><a href="{{ marketing_path('six-good-technical-reasons') }}">Tehnične koristi Symfony-ja v 6-ih enostavnih lekcijah</a></li>
        <li><a href="{{ marketing_path('ten-criteria') }}">10 kriterijev za izbiro pravega ogrodja</a></li>
    </ul>
{% endblock %}

{% block title_elevator_pitches %}Kratke predstavitve{% endblock %}
{% block description_elevator_pitches %}
    <p>Symfony2 razložen...</p>
    <ul>
        <li><a href="{{ marketing_path('explained-to-my-boss') }}">... mojemu šefu</a></li>
        <li><a href="{{ marketing_path('explained-to-a-developer') }}">... razvijalcu</a></li>
        <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">... sistemskemu administratorju</a></li>
        <li><a href="{{ marketing_path('explained-to-project-manager') }}">... vodji projekta</a></li>
        <li><a href="{{ marketing_path('explained-to-project-owner') }}">... lastniku projekta</a></li>
    </ul>
{% endblock %}

{% block title_quick_tour %}Hitra predstavitev{% endblock %}
{% block description_quick_tour %}
    <p>
        Kaj bi bilo bolje od tega, da si ustvarite vaše lastno mnenje, kot to, da preskusite
        Symfony sami? Poleg nekaj časa,
        vas ne stalo nič. Korak za korakom boste raziskali
        vesolje Symfony. Bodite previdtni, saj Symfony lahko postane zasvoljiv
        že od prvega srečanja.
    </p>
{% endblock %}


{% block link_read 'Preberite' %}
{% block link_download_pdf 'Prenesite kot PDF' %}

{% block title_symfony_ecosystem %}Ekosistem Symfony{% endblock %}
{% block description_symfony_ecosystem %}
    <p>Te dobro znani PHP projekti tudi izvirajo iz ali okrog projekta Symfony:</p>
    <ul>
        <li><a href="http://silex.sensiolabs.org/">Silex</a>, PHP mikro ogrodje zgrajeno na vrhu komponent Symfony</li>
        <li><a href="http://twig.sensiolabs.org/">Twig</a>, hiter, varen in moderen PHP motor predlog</li>
        <li><a href="http://swiftmailer.org/">Swiftmailer</a>, enostavna rešitev, da dobite vaša e-poštna sporočila dostavljena</li>
    </ul>
{% endblock %}
