{% block title 'Download Symfony Framework en Componenten' %}
{% block keywords '' %}
{% block description 'Download het Symfony framework met behulp van het Symfony de installatie of Composer. Download Symfony Componenten en de Symfony Demo applicatie.' %}

{% block symfony_framework_title %}Met behulp van het Symfony <br/> full-stack framework{% endblock %}

{% block stable_version_tab_title %}
    Gebruik <strong>Symfony %stable_version%</strong>
    <br>
    voor de nieuwste functies
{% endblock %}
{% block lts_version_tab_title %}
    Gebruik <strong>Symfony %lts_version%</strong>
    <br>
    voor de lange termijn ondersteuning
{% endblock %}

{% block end_of_support_label %}einde van ondersteuning{% endblock %}

{% block symfony_installer_title %}<em>Installeer de Symfony Installatieprogramma</em> eerst. Daarna, voer deze opdracht uit:{% endblock %}

{% block symfony_installer_description %}
    <p>
        Het <strong>Symfony installatieprogramma</strong> is een kleine PHP applicatie
        die eenmalig op je computer moet worden geïnstalleerd. Het vereenvoudigt het
        creëren van nieuwe projecten op basis van het Symfony framework.
    </p>
{% endblock %}

{% block linux_mac_installation_title %}Installatie op Linux en Mac OS X{% endblock %}
{% block windows_installation_title %}Installatie op Windows{% endblock %}
{% block windows_installation_instructions %}
    <p>
        Verplaats het gedownloade bestand in uw project directory en
        voer het uit als <code>php symfony</code>.
    </p>
{% endblock %}

{% block symfony_installer_alternative %}
    <p>
        <strong>Als u het installatieprogramma niet kunt gebruiken</strong> kan u in plaats hiervan gebruik maken van de 
        <a href="{{ doc_path({ page: 'book/installation', version: 'master' }) }}#creating-symfony-applications-without-the-installer">Symfony installatie gebaseerd op Composer</a>.
    </p>
{% endblock %}

{% block label_copy %}Kopie{% endblock %}

{% block symfony_demo_application_title %}Symfony Demo applicatie{% endblock %}
{% block symfony_demo_application %}
    <p>
        Het beste Symfony leermiddel en de verwijzing naar de ontwikkeling van
        toepassingen na de officiële best practices.
    </p>
    <p>
        <a href="https://github.com/symfony/symfony-demo">Download het gratis</a>
    </p>
{% endblock %}

{% block updates_title %}Mis geen enkele update!{% endblock %}
{% block updates_description %}
    <p>
        Ontvang een e-mail wanneer er een nieuwe versie van Symfony wordt gepubliceerd
        of wanneer een Symfony versie het einde van zijn leven bereikt.
    </p>
    <p>
        <a href="{{ path('roadmap') }}">Abonneren is gratis</a>
    </p>
{% endblock %}

{% block source_code_title %}Symfony Bron Code{% endblock %}
{% block source_code_description %}
    Symfony is openbaar <a href="https://github.com/symfony/symfony">
    gehost op GitHub</a>. Doe met ons mee door pull requests te sturen,
    code te reviewen of problemen te rapporteren.
{% endblock %}

{% block open_source_title %}Gratis en Open Source{% endblock %}
{% block open_source_description %}
    Symfony code is gepubliceerd onder de
    <a href="{{ path('doc_shortcut', { version: 'current', page: 'contributing/code/license' }) }}">MIT license</a>,
    die vriendelijk is voor ontwikkelaars en veilig voor bedrijven.
{% endblock %}

{% block symfony_components_title %}Gebruik van de Symfony <br> componenten{% endblock %}

{% block symfony_components_description %}
    <p>
        Symfony framework is gebouwd bovenop uit een set ontkoppelde en herbruikbare PHP
        componenten genoemd <a href="{{ path('marketing_page_shortcut', { name: 'components' }) }}">
        <strong>Symfony Componenten</strong></a>. Ze worden steeds meer de fundamentele
        norm waarop de beste PHP-applicaties zijn gebouwd. Je kan elk
        van deze componenten gebruiken in eigen toepassingen onafhankelijk van het framework.
    </p>
{% endblock %}

{% block symfony_components_instructions %}<p>Het toevoegen van een Symfony Component aan je applicatie:</p>{% endblock %}

{% block symfony_components_help %}
    <p>
        Dit vereist het <a href="{{ doc_path({version: 'current', page: 'cookbook/composer' }) }}">installeren van Composer</a> globaal in uw systeem.
    </p>
{% endblock %}

{% block distributions_title %}Download Symfony Distributies{% endblock %}
{% block distributions_description %}
    <a href="{{ path('marketing_page_shortcut', { name: 'distributions' }) }}">Bekijk onze distributies</a>
    klaar voor REST en CMS-toepassingen.
{% endblock %}

{% block legacy_title %}Download Legacy Versies{% endblock %}
{% block legacy_description %}
    <a href="{{ path('legacy_home') }}">Download Symfony 1.x</a>
    voor uw legacy-projecten en applicaties.
{% endblock %}
