{% block title 'Symfony Elevator Pitches' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained-to-my-boss') }}">Symfony uitgelegd aan mijn verantwoordelijke</a></li>
    <li><a href="{{ marketing_path('explained-to-a-developer') }}">Symfony uitgelegd aan een ontwikkelaar</a></li>
    <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">Symfony uitgelegd aan een systeembeheerder</a></li>
    <li><a href="{{ marketing_path('explained-to-a-project-manager') }}">Symfony uitgelegd aan een project manager</a></li>
    <li><a href="{{ marketing_path('explained-to-a-project-owner') }}">Symfony uitgelegd aan een project eigenaar</a></li>
{% endblock %}
