{% block title 'Symfony in 5 minuten' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('why_use_a_framework') }}">Waarom zou ik een framework gebruiken?</a></li>
    <li><a href="{{ marketing_path('when_use_a_framework') }}">Wanneer moet ik een framework gebruiken?</a></li>
    <li><a href="{{ marketing_path('six_good_reasons') }}">6 goede redenen om Symfony te gebruiken</a></li>
    <li><a href="{{ marketing_path('six_good_technical_reasons') }}">De technologische voordelen van Symfony in 6 eenvoudige lessen</a></li>
    <li><a href="{{ marketing_path('ten_criteria') }}">10 criteria voor het kiezen van het juiste framework</a></li>
{% endblock %}
