{% block title 'Prenesite ogrodje Symfony in komponentne' %}
{% block keywords '' %}
{% block description 'Prenesite ogrodje Symfony z uporabo namestitvenega programa Symfony ali s Composer-jem. Prenesite komponente Symfony in demo aplikacijo Symfony.' %}

{% block symfony_framework_title %}Uporaba celotnega<br/>ogrodja Symfony{% endblock %}

{% block stable_version_tab_title %}
    Uporabite <strong>Symfony %stable_version%</strong>
    <br>
    za najnovejše lastnosti
{% endblock %}
{% block lts_version_tab_title %}
    Uporabite <strong>Symfony %lts_version%</strong>
    <br>
    za dolgoročno podporo
{% endblock %}

{% block end_of_support_label %}konec podpore{% endblock %}

{% block symfony_installer_title %}Najprej <em>namestite namestitveni program Symfony Installer</em>. Nato izvršite ta ukaz:{% endblock %}

{% block symfony_installer_description %}
    <p>
        <strong>Symfony Installer</strong> je majhna PHP aplikacija, ki
        mora biti nameščena enkrat na vaš računalnik. Izjemno poenostavi
        ustvarjanje novih projekto osnovanih na ogrodju Symfony.
    </p>
{% endblock %}

{% block linux_mac_installation_title %}Namestitev na Linux in Mac OS X{% endblock %}
{% block windows_installation_title %}Namestiev na Windows{% endblock %}
{% block windows_installation_instructions %}
    <p>
        Premaknite preneseno datoteko v vaš projektni direktorij in
        jo izvršite kot <code>php symfony</code>.
    </p>
{% endblock %}

{% block symfony_installer_alternative %}
    <p>
        <strong>Če ne morete uporabiti namestitvenega programa</strong>, namesto njega poskusite
        <a href="{{ doc_path({ page: 'book/installation', version: 'master' }) }}#creating-symfony-applications-without-the-installer">namestitev Symfony na osnovi Composer-ja</a>.
    </p>
{% endblock %}

{% block label_copy %}Kopirajte{% endblock %}

{% block symfony_demo_application_title %}Demo aplikacija Symfony{% endblock %}
{% block symfony_demo_application %}
    <p>
        Najboljši vir učenja Symfony in referenca za razvijanje
        aplikacij, ki sledijo uradnim najboljšim praksam.
    </p>
    <p>
        <a href="https://github.com/symfony/symfony-demo">Prenesite jo brezplačno</a>
    </p>
{% endblock %}

{% block updates_title %}Ne zamudite nobenih posodobitev!{% endblock %}
{% block updates_description %}
    <p>
        Prejmite e-pošto, ko bo nova verzija Symfony objavljena
        ali ko bo verzija Symfony dosegla konec življenske dobe.
    </p>
    <p>
        <a href="{{ path('roadmap') }}">Naročite se brezplačno</a>
    </p>
{% endblock %}

{% block source_code_title %}Izvorna koda Symfony{% endblock %}
{% block source_code_description %}
    Symfony je javno <a href="https://github.com/symfony/symfony">
    gostovan na GitHub-u</a>. Pridružite se nam s pošiljanjem zahtevkov potegov, pregledom
    kode ali poročanjem težav.
{% endblock %}

{% block open_source_title %}Brezplačno in odprtokoden{% endblock %}
{% block open_source_description %}
    Koda Symfony je objavljena pod
    <a href="{{ path('doc_shortcut', { version: 'current', page: 'contributing/code/license' }) }}">licenco MIT</a>,
    ki je prijazna za razvijalce in varna za posel.
{% endblock %}

{% block symfony_components_title %}Uporaba komponent<br>Symfony{% endblock %}

{% block symfony_components_description %}
    <p>
        Ogrodje Symfony je zgrajeno na vrhu skupka nevezanih in ponovno uporabljivih PHP
        komponent imenovanih <a href="{{ path('marketing_page_shortcut', { name: 'components' }) }}">
        <strong>komponente Symfony</a></strong>. Postajajo standardni
        temelj na katerem so zgrajene najboljše PHP aplikacije. Lahko uporabite
        katerokoli izmed teh komponent na vaših lastnih aplikacijah neodvisno od
        ogrodja.
    </p>
{% endblock %}

{% block symfony_components_instructions %}<p>Dodajanje komponente Symfony k vaši aplikaciji:</p>{% endblock %}

{% block symfony_components_help %}
    <p>
        To zahteva, da <a href="{{ doc_path({version: 'current', page: 'cookbook/composer' }) }}">namestite Composer</a> globalno na vaš sistem.
    </p>
{% endblock %}

{% block distributions_title %}Prenesite distribucije Symfony{% endblock %}
{% block distributions_description %}
    <a href="{{ path('marketing_page_shortcut', { name: 'distributions' }) }}">Preverite naše distribucije</a>
    pripravljene za REST in CMS aplikacije.
{% endblock %}

{% block legacy_title %}Prenesite verzije zapuščine{% endblock %}
{% block legacy_description %}
    <a href="{{ path('legacy_home') }}">Prenesite Symfony 1.x</a>
    za vaše projekte in aplikacije zapuščine.
{% endblock %}
