{% block title 'Prenosi' %}
{% block keywords '' %}
{% block description 'Prenosi, stopite v stik s skupnostjo, preberite članke, najdite usposabljanja' %}

{% block symfony_framework_title %}Uporaba celotnega<br/>ogrodja Symfony{% endblock %}

{% block stable_version_tab_title %}
    Uporabite <strong>Symfony %stable_version%</strong>
    <br>
    za najnovejše lastnosti
{% endblock %}
{% block lts_version_tab_title %}
    Uporabite <strong>Symfony %lts_version%</strong>
    <br>
    za dolgoročno podporo
{% endblock %}

{% block end_of_support_label %}konec podpore{% endblock %}

{% block symfony_installer_title %}Najprej <em>namestite namestitveni program Symfony Installer</em>. Nato izvršite ta ukaz:{% endblock %}

{% block symfony_installer_description %}
    <p>
        <strong>Symfony Installer</strong> je majhna PHP aplikacija, ki
        mora biti nameščena enkrat na vaš računalnik. Izjemno poenostavi
        ustvarjanje novih projekto osnovanih na ogrodju Symfony.
    </p>
{% endblock %}

{% block linux_mac_installation_title %}Namestitev na Linux in Mac OS X{% endblock %}
{% block linux_mac_installation_commands %}
    $ sudo curl -LsS http://symfony.com/installer -o /usr/local/bin/symfony<br/>
    $ sudo chmod a+x /usr/local/bin/symfony
{% endblock %}

{% block windows_installation_title %}Namestiev na Windows{% endblock %}
{% block windows_installation_commands %}
    c:\> php -r "readfile('http://symfony.com/installer');" > symfony
{% endblock %}
{% block windows_installation_instructions %}
    <p>
        Premaknite preneseno datoteko v vaš projektni direktorij in
        jo izvršite kot <code>php symfony</code>.
    </p>
{% endblock %}

{% block label_copy %}Kopirajte{% endblock %}

{% block updates_title %}Ne zamudite nobenih posodobitev!{% endblock %}
{% block updates_description %}
    <a href="{{ path('roadmap') }}">Prijavite</a> se
    na našo storitev obveščanja in prejeli boste e-pošto kakor hitro bo
    objavljena nova verzija Symfony.
{% endblock %}

{% block open_source_title %}Brezplačno in odprtokoden{% endblock %}
{% block open_source_description %}
    Koda Symfony je objavljena pod
    <a href="{{ path('doc_shortcut', { version: 'current', page: 'contributing/code/license' }) }}">licenco MIT</a>,
    ki je prijazna za razvijalce in varna za posel.
{% endblock %}

{% block symfony_components_title %}Uporaba komponent<br>Symfony{% endblock %}

{% block symfony_components_description %}
    <p>
        Ogrodje Symfony je zgrajeno na vrhu skupka nevezanih in ponovno uporabljivih PHP
        komponent imenovanih <a href="{{ path('marketing_page_shortcut', { name: 'components' }) }}">
        <strong>komponente Symfony</a></strong>. Postajajo standardni
        temelj na katerem so zgrajene najboljše PHP aplikacije. Lahko uporabite
        katerokoli izmed teh komponent na vaših lastnih aplikacijah neodvisno od
        ogrodja.
    </p>
{% endblock %}

{% block symfony_components_instructions %}<p>Dodajanje komponente Symfony k vaši aplikaciji:</p>{% endblock %}

{% block symfony_components_help %}
    <p>
        To zahteva, da <a href="{{ doc_path({version: 'current', page: 'cookbook/composer' }) }}">namestite Composer</a> globalno na vaš sistem.
    </p>
{% endblock %}

{% block distributions_title %}Prenesite distribucije Symfony{% endblock %}
{% block distributions_description %}
    <a href="{{ path('marketing_page_shortcut', { name: 'distributions' }) }}">Preverite naše distribucije</a>
    pripravljene za REST in CMS aplikacije.
{% endblock %}

{% block legacy_title %}Prenesite verzije zapuščine{% endblock %}
{% block legacy_description %}
    <a href="{{ path('legacy_home') }}">Prenesite Symfony 1.x</a>
    za vaše projekte in aplikacije zapuščine.
{% endblock %}
