{% block title 'Symfony komponenty' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Okrem toho, že Symfony je full-stack framework, je tiež zložený
        zo samostatných a na sebe nezávislých komponentoch.
    </p>
{% endblock %}

{% block body %}
    <h2 class="title_09"><a name="framework">Čo je komponenta?</a></h2>
    <p>
        Symfony komponenty poksytujú základné funkcie potrebné v vývoju
        web stránok. Symfony je vytvorené práve z týchto komponent.
        Komponenty môžu byť použité aj samostatne, bez frameworku a bez
        ďalších závislostí.
    </p>
    <h2 class="title_09"><a name="framework">Inštalácia</a></h2>
    <p>
        Každý komponent môžete nainštalovať rôznymi spôsobmi:
        <ul>
            <li>
                <strong>Doporučený spôsob</strong>
                Inštalácia pomocou Composer
                (<code>symfony/<strong>nazov-komponenty-cez-pomlcky</strong></code> na Packagist).
            </li>
            <li>
                Oficiálny git repozitár
                (<code>https://github.com/symfony/<strong>CamelCaseNazovKomponenty</strong></code>);
            </li>
            <li>
                <strong>Obsolete</strong>
                Inštalácia pomocou PEAR
                (<code>pear.symfony.com/<strong>CamelCaseNazovKomponenty</strong></code>);
            </li>
        </ul>
    </p>
    <p>Ak chcete nainštalovať komponent <code>HttpFoundation</code>:</p>
    <h3 class="title_05">Pomocou Git</h3>
    <div class="highlight-bash">
        <div class="highlight">
            <pre>git clone https://github.com/symfony/HttpFoundation vendor/</pre>
        </div>
    </div>
    <h3 class="title_05">Pomocou PEAR</h3>
    <div class="highlight-bash">
        <div class="highlight">
                <pre>pear channel-discover pear.symfony.com
pear install symfony2/HttpFoundation</pre>
        </div>
    </div>
    <h3 class="title_05">Pomocou Composer</h3>
    <div class="highlight-bash">
        <div class="highlight">
                <pre>{
    "require": {
        "symfony/http-foundation": "v2.0.11"
    }
}</pre>
        </div>
    </div>
    <h2 class="title_09"><a name="framework">Komponenty</a></h2>
    <table class="component-list">
        <thead>
            <tr>
                <th>Komponent</th>
                <th>Popis</th>
                <th>Zdrojový kód</th>
                <th>Dokumentácia</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>BrowserKit</strong></td>
                <td>Simuluje chovanie webového prehliadača.</td>
                <td><a href="https://github.com/symfony/BrowserKit">Zdrojový kód</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong>ClassLoader</strong></td>
                <td>Automaticky načítava súbory s triedami, ak tieto dodržujú niektoré štandardé PHP konvencie.</td>
                <td><a href="https://github.com/symfony/ClassLoader">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'class_loader', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>Config</strong></td>
                <td>Pomáha vyhľadať, načítať, kombinovať, automaticky vyplniť a kontrolovať konfiguráciu.</td>
                <td><a href="https://github.com/symfony/Config">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'config/introduction', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>Console</strong></td>
                <td>Uľahčuje vytváranie krásnych a testovateľných aplikácií pre príkazový riadok.</td>
                <td><a href="https://github.com/symfony/Console">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'console/introduction', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>CssSelector</strong></td>
                <td>Konveruje CSS selektory na XPath výrazy.</td>
                <td><a href="https://github.com/symfony/CssSelector">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'css_selector', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>Debug</strong></td>
                <td>Ponúka nástroje pre jednoduchšie testovanie PHP kódu.</td>
                <td><a href="https://github.com/symfony/Debug">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'debug', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>DependencyInjection</strong></td>
                <td>Umožnuje štandardizovať a centralizovať spôsob akým sú objekty tvorené vo Vašej aplikácií.</td>
                <td><a href="https://github.com/symfony/DependencyInjection">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'dependency_injection/introduction', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>DomCrawler</strong></td>
                <td>Uľahčuje prechádzanie DOM štruktúry pre HTML a XML dokumenty.</td>
                <td><a href="https://github.com/symfony/DomCrawler">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'dom_crawler', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>EventDispatcher</strong></td>
                <td>Implementuje odľahčenú verziu návrhového vzoru Observer.</td>
                <td><a href="https://github.com/symfony/EventDispatcher">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'event_dispatcher/introduction', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>Filesystem</strong></td>
                <td>Poskytuje základné nástroj pre prácu so súbormi a adresármi.</td>
                <td><a href="https://github.com/symfony/Filesystem">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'filesystem', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>Finder</strong></td>
                <td>Vyhľadáva súbory a adresáre pomocou prehľadného zápisu.</td>
                <td><a href="https://github.com/symfony/Finder">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'finder', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>Form</strong></td>
                <td>&nbsp;</td>
                <td><a href="https://github.com/symfony/Form">Zdrojový kód</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong>HttpFoundation</strong></td>
                <td>Objektovo orientovaná vrstva pre prácu s protokolom HTTP.</td>
                <td><a href="https://github.com/symfony/HttpFoundation">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'http_foundation/introduction', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>HttpKernel</strong></td>
                <td>Poskytuje základné stavebné prvky pre vytvorenie flexibilného a rýchleho frameworku založeného na protokole HTTP.</td>
                <td><a href="https://github.com/symfony/HttpKernel">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'http_kernel/introduction', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>Locale</strong></td>
                <td>Poskytuje rezervný kod v prípadoch kedy nie je dostupne PHP rozšírenie intl.</td>
                <td><a href="https://github.com/symfony/Locale">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'locale', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>OptionsResolver</strong></td>
                <td>Pomáha konfigurovať objekty pomocou jednoduchého poľa.</td>
                <td><a href="https://github.com/symfony/OptionsResolver">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'options_resolver', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>Process</strong></td>
                <td>Spúšta príkazy v sub-procesoch.</td>
                <td><a href="https://github.com/symfony/Process">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'process', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>PropertyAccess</strong></td>
                <td>Poskytuje funkcie pre čítanie a zápis z/do objektu a poľa pomocou jednoduchého textového zápisu.</td>
                <td><a href="https://github.com/symfony/Process">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'property_access/introduction', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>Routing</strong></td>
                <td>Mapuje HTTP požiadavky na sadu konfiguračných premenných.</td>
                <td><a href="https://github.com/symfony/Routing">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'routing/introduction', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>Security</strong></td>
                <td>Poskytuje sofistikované autorizačné mechanizmy.</td>
                <td><a href="https://github.com/symfony/Security">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'security/introduction', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>Serializer</strong></td>
                <td>Konvertuje objekty do rôznych formátov (XML, JSON, Yaml, ...) a naopak.</td>
                <td><a href="https://github.com/symfony/Serializer">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'serializer', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>Stopwatch</strong></td>
                <td>Umožnuje profilovať kód.</td>
                <td><a href="https://github.com/symfony/Stopwatch">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'stopwatch', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>Templating</strong></td>
                <td>Poskytuje všetky nástroje potrebné pre pripojenie akéhokoľvek šablónovacieho systému.</td>
                <td><a href="https://github.com/symfony/Templating">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'templating', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
            <tr>
                <td><strong>Translation</strong></td>
                <td>&nbsp;</td>
                <td><a href="https://github.com/symfony/Translation">Zdrojový kód</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong>Validator</strong></td>
                <td>&nbsp;</td>
                <td><a href="https://github.com/symfony/Validator">Zdrojový kód</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong>Yaml</strong></td>
                <td>Číta a zapisuje do YAML súborov.</td>
                <td><a href="https://github.com/symfony/Yaml">Zdrojový kód</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'yaml/introduction', 'version': 'current'}) }}">Dokumentácia</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
