{% block title 'Symfony hitre predstavitve' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained-to-my-boss') }}">Symfony razložen mojemu šefu</a></li>
    <li><a href="{{ marketing_path('explained-to-a-developer') }}">Symfony razložen razvijalcu</a></li>
    <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">Symfony razložen skrbniku sistema</a></li>
    <li><a href="{{ marketing_path('explained-to-a-project-manager') }}">Symfony razložen vodji projekta</a></li>
    <li><a href="{{ marketing_path('explained-to-a-project-owner') }}">Symfony razložen lastniku projekta</a></li>
{% endblock %}
