{% block title 'Symfony hitre predstavitve' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained_to_my_boss') }}">Symfony razložen mojemu šefu</a></li>
    <li><a href="{{ marketing_path('explained_to_a_developer') }}">Symfony razložen razvijalcu</a></li>
    <li><a href="{{ marketing_path('explained_to_a_system_administrator') }}">Symfony razložen skrbniku sistema</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_manager') }}">Symfony razložen vodji projekta</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_owner') }}">Symfony razložen lastniku projekta</a></li>
{% endblock %}
