{% block title 'Symfony v 5 minutah' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('why-use-a-framework') }}">Zakaj bi moral uporabiti ogrodje?</a></li>
    <li><a href="{{ marketing_path('when-use-a-framework') }}">Kdaj bi moral uporabiti ogrodje?</a></li>
    <li><a href="{{ marketing_path('six-good-reasons') }}">6 dobrih razlogov za uporabo Symfony</a></li>
    <li><a href="{{ marketing_path('six-good-technical-reasons') }}">Tehnične koristi Symfony v 6-ih enostavnih lekcijah</a></li>
    <li><a href="{{ marketing_path('ten-criteria') }}">10 kriterijev za izbiro ustreznega ogrodja</a></li>
{% endblock %}
