{% block title 'Symfony Elaborador de Pitches' %}
{% block keywords 'symfony pitches, explicando symfony' %}
{% block description 'Symfony Elaborador de Pitches' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained_to_my_boss') }}">Explicando Symfony ao meu patrão</a></li>
    <li><a href="{{ marketing_path('explained_to_a_developer') }}">Explicando Symfony a um programador</a></li>
    <li><a href="{{ marketing_path('explained_to_a_system_administrator') }}">Explicando Symfony a um administrador de sistemas</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_manager') }}">Explicando Symfony a um gestor de projetos</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_owner') }}">Explicando Symfony a um chefe de projetos</a></li>
{% endblock %}
