{% block title 'Symfony em 5 minutos' %}
{% block keywords 'symfony em 5 minutos, symfony' %}
{% block description 'Symfony em 5 minutos' %}

{% block summary %}
    <li><a href="{{ marketing_path('why-use-a-framework') }}">Porque devo usar a framework?</a></li>
    <li><a href="{{ marketing_path('when-use-a-framework') }}">Quando devo usar a framework?</a></li>
    <li><a href="{{ marketing_path('six-good-reasons') }}">6 boas razões para usar Symfony</a></li>
    <li><a href="{{ marketing_path('six-good-technical-reasons') }}">Os benefícios tecnológicos do Symfony em 6 lições</a></li>
    <li><a href="{{ marketing_path('ten-criteria') }}">10 critérios para escolher a framework correta</a></li>
{% endblock %}
