{% block title 'Symfony Elevator Pitch' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained_to_my_boss') }}">Symfony kurz erklärt für meinen Chef</a></li>
    <li><a href="{{ marketing_path('explained_to_a_developer') }}">Symfony kurz erklärt für einen Entwickler</a></li>
    <li><a href="{{ marketing_path('explained_to_a_system_administrator') }}">Symfony kurz erklärt für einen System-Administrator</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_manager') }}">Symfony kurz erklärt für einen Projektmanager</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_owner') }}">Symfony kurz erklärt für einen Auftraggeber</a></li>
{% endblock %}
