{% block title 'Symfony Elevator Pitch' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained_to_my_boss') }}">Symfony meinem Chef erklärt</a></li>
    <li><a href="{{ marketing_path('explained_to_a_developer') }}">Symfony einem Entwickler erklärt</a></li>
    <li><a href="{{ marketing_path('explained_to_a_system_administrator') }}">Symfony einem System-Administrator erklärt</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_manager') }}">Symfony einem Projekt-Manager erklärt</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_owner') }}">Symfony einem Projekt-Inhaber erklärt</a></li>
{% endblock %}
