{% block title 'Symfony in 5 Minuten' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('why_use_a_framework') }}">Warum sollte ich ein Framework benutzen?</a></li>
    <li><a href="{{ marketing_path('when_use_a_framework') }}">Wann sollte ich ein Framework benutzen?</a></li>
    <li><a href="{{ marketing_path('six_good_reasons') }}">6 gute Gr端nde f端r Symfony</a></li>
    <li><a href="{{ marketing_path('six_good_technical_reasons') }}">Die technischen Vorz端ge von Symfony in 6 einfachen Lektionen</a></li>
    <li><a href="{{ marketing_path('ten_criteria') }}">10 Kriterien f端r die Auswahl des geeigneten Frameworks</a></li>
{% endblock %}
