{% block title 'Download' %}
{% block keywords '' %}
{% block description 'Downloads, get in touch with the community, read articles, find training sessions' %}

{% block symfony_framework_title %}Using the Symfony <br/> full-stack framework{% endblock %}

{% block stable_version_tab_title %}
    Use <strong>Symfony %stable_version%</strong>
    <br>
    for the latest features
{% endblock %}
{% block lts_version_tab_title %}
    Use <strong>Symfony %lts_version%</strong>
    <br>
    for long-term support
{% endblock %}

{% block end_of_support_label %}end of support{% endblock %}

{% block symfony_installer_title %}First, <em>install the Symfony Installer</em>. Then, execute this command:{% endblock %}

{% block symfony_installer_description %}
    <p>
        The <strong>Symfony Installer</strong> is a small PHP application that
        must be installed once in your computer. It greatly simplifies
        the creation of new projects based on the Symfony framework.
    </p>
{% endblock %}

{% block linux_mac_installation_title %}Installation on Linux and Mac OS X{% endblock %}
{% block linux_mac_installation_commands %}
    $ sudo curl -LsS https://symfony.com/installer -o /usr/local/bin/symfony<br/>
    $ sudo chmod a+x /usr/local/bin/symfony
{% endblock %}

{% block windows_installation_title %}Installation on Windows{% endblock %}
{% block windows_installation_commands %}
    c:\> php -r "readfile('https://symfony.com/installer');" > symfony
{% endblock %}
{% block windows_installation_instructions %}
    <p>
        Move the downloaded file to your projects directory and
        execute it as <code>php symfony</code>.
    </p>
{% endblock %}

{% block label_copy %}Copy{% endblock %}

{% block updates_title %}Don't miss any updates!{% endblock %}
{% block updates_description %}
    <a href="{{ path('roadmap') }}">Subscribe</a>
    to our notification service and receive an email as soon as a
    new Symfony version is published.
{% endblock %}

{% block open_source_title %}Free and Open Source{% endblock %}
{% block open_source_description %}
    Symfony code is published under the
    <a href="{{ path('doc_shortcut', { version: 'current', page: 'contributing/code/license' }) }}">MIT license</a>,
    which is friendly for developers and safe for businesses.
{% endblock %}

{% block symfony_components_title %}Using the Symfony <br> components{% endblock %}

{% block symfony_components_description %}
    <p>
        Symfony framework is built on top of a set of decoupled and reusable PHP
        components called <a href="{{ path('marketing_page_shortcut', { name: 'components' }) }}">
        <strong>Symfony Components</a></strong>. They are becoming the standard
        foundation on which the best PHP applications are built on. You can use
        any of these components on your own applications independently from the
        framework.
    </p>
{% endblock %}

{% block symfony_components_instructions %}<p>Adding a Symfony Component to your application:</p>{% endblock %}

{% block symfony_components_help %}
    <p>
        This requires to <a href="{{ doc_path({version: 'current', page: 'cookbook/composer' }) }}">install Composer</a> globally in your system.
    </p>
{% endblock %}

{% block distributions_title %}Download Symfony Distributions{% endblock %}
{% block distributions_description %}
    <a href="{{ path('marketing_page_shortcut', { name: 'distributions' }) }}">Check out our distributions</a>
    ready for REST and CMS applications.
{% endblock %}

{% block legacy_title %}Download Legacy Versions{% endblock %}
{% block legacy_description %}
    <a href="{{ path('legacy_home') }}">Download Symfony 1.x</a>
    for your legacy projects and applications.
{% endblock %}
