{% block title 'Symfony有力说辞' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained_to_my_boss') }}">Symfony解释给我的老板听</a></li>
    <li><a href="{{ marketing_path('explained_to_a_developer') }}">Symfony解释给一个开发员听</a></li>
    <li><a href="{{ marketing_path('explained_to_a_system_administrator') }}">Symfony解释给一个系统管理员听</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_manager') }}">Symfony解释给一个项目经理听</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_owner') }}">Symfony解释给一个项目所有人听</a></li>
{% endblock %}
