{% block title 'Symfony Elevator Pitches' %}
{% block keywords 'symfony pitches, explicando symfony' %}
{% block description 'Symfony Elevator Pitches' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained-to-my-boss') }}">Explicando o Symfony ao meu patrão</a></li>
    <li><a href="{{ marketing_path('explained-to-a-developer') }}">Explicando o Symfony para um desenvolvedor</a></li>
    <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">Explicando o Symfony para um administrador de sistemas</a></li>
    <li><a href="{{ marketing_path('explained-to-a-project-manager') }}">Explicando o Symfony para um gestor de projeto</a></li>
    <li><a href="{{ marketing_path('explained-to-a-project-owner') }}">Explicando o Symfony para um proprietário do projeto</a></li>
{% endblock %}
