{% block title 'Symfony Elevator Pitches' %}
{% block keywords 'symfony pitches, explicando symfony' %}
{% block description 'Symfony Elevator Pitches' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained_to_my_boss') }}">Explicando o Symfony ao meu patrão</a></li>
    <li><a href="{{ marketing_path('explained_to_a_developer') }}">Explicando o Symfony para um desenvolvedor</a></li>
    <li><a href="{{ marketing_path('explained_to_a_system_administrator') }}">Explicando o Symfony para um administrador de sistemas</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_manager') }}">Explicando o Symfony para um gestor de projeto</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_owner') }}">Explicando o Symfony para um proprietário do projeto</a></li>
{% endblock %}
