{% block title 'Symfony ve zkratce' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained-to-my-boss') }}">Vysvětlení Symfony pro šéfa</a></li>
    <li><a href="{{ marketing_path('explained-to-a-developer') }}">Vysvětlení Symfony pro vývojáře</a></li>
    <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">Vysvětlení Symfony pro systémového administrátora</a></li>
    <li><a href="{{ marketing_path('explained-to-project-manager') }}">Vysvětlení Symfony pro projektového manažera</a></li>
    <li><a href="{{ marketing_path('explained-to-project-owner') }}">Vysvětlení Symfony pro zadavatele projektu</a></li>
{% endblock %}
