{% block title 'Symfony ve zkratce' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained_to_my_boss') }}">Vysvětlení Symfony pro šéfa</a></li>
    <li><a href="{{ marketing_path('explained_to_a_developer') }}">Vysvětlení Symfony pro vývojáře</a></li>
    <li><a href="{{ marketing_path('explained_to_a_system_administrator') }}">Vysvětlení Symfony pro systémového administrátora</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_manager') }}">Vysvětlení Symfony pro projektového manažera</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_owner') }}">Vysvětlení Symfony pro zadavatele projektu</a></li>
{% endblock %}
