{% block title 'Symfony v 5 minutách' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('why-use-a-framework') }}">Proč použít framework?</a></li>
    <li><a href="{{ marketing_path('when-use-a-framework') }}">Kdy je vhodné použít framework?</a></li>
    <li><a href="{{ marketing_path('six-good-reasons') }}">6 dobrých důvodů, proč se rozhodnout pro Symfony</a></li>
    <li><a href="{{ marketing_path('six-good-technical-reasons') }}">Technologické výhody Symfony v 6 bodech</a></li>
    <li><a href="{{ marketing_path('ten-criteria') }}">10 zásad pro výběr správného frameworku</a></li>
{% endblock %}
