{% block title 'O que é o Symfony' %}
{% block keywords 'o que é o symfony, symfony, explicando symfony, symfony em 5 minutos' %}
{% block description 'O que é o Symfony - Comece aqui se pretende uma breve explicação'%}

{% block intro %}
    <h2 class="title_05">SYMFONY À PRIMEIRA VISTA</h2>
    <p>
        Symfony é uma Framework PHP para Desenvolvimento Web.
        <br />
        Não respondeu à sua questão?
        <br />
        Ok, vamos tentar novamente.
        <br />
        Symfony é uma Framework PHP, uma Filosofia, e uma Comunidade - tudo em conjunto e em harmonia.
    </p>
{% endblock %}

{% block more 'Aprender mais' %}

{% block fiveminutes %}
    <h2 class="title_05">SYMFONY EM 5 MINUTOS</h2>
    <p></p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('why_use_a_framework') }}">Porque devo usar uma framework?</a></li>
        <li><a href="{{ marketing_path('when_use_a_framework') }}">Quando devo usar uma framework?</a></li>
        <li><a href="{{ marketing_path('six_good_reasons') }}">6 boas razões para usar Symfony</a></li>
        <li><a href="{{ marketing_path('six_good_technical_reasons') }}">Os benefícios tecnológicos do Symfony em 6 lições</a></li>
        <li><a href="{{ marketing_path('ten_criteria') }}">10 critérios para escolher a framework correta</a></li>
    </ul>
{% endblock %}

{% block elevatorpitches %}
    <h2 class="title_05">ELABORADOR DE PITCHES</h2>
    <p>Explicando Symfony2...</p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('explained_to_my_boss') }}">... ao meu patrão</a></li>
        <li><a href="{{ marketing_path('explained_to_a_developer') }}">... a um programador</a></li>
        <li><a href="{{ marketing_path('explained_to_a_system_administrator') }}">... a um administrador de sistemas</a></li>
        <li><a href="{{ marketing_path('explained_to_a_project_manager') }}">... a um gestor de projetos</a></li>
        <li><a href="{{ marketing_path('explained_to_a_project_owner') }}">... a um chefe de projetos</a></li>
    </ul>
{% endblock %}
