{% block title 'Symfony em 5 minutos' %}
{% block keywords 'symfony em 5 minutos, symfony' %}
{% block description 'Symfony em 5 minutos' %}

{% block summary %}
    <li><a href="{{ marketing_path('why_use_a_framework') }}">Porque devo usar a framework?</a></li>
    <li><a href="{{ marketing_path('when_use_a_framework') }}">Quando devo usar a framework?</a></li>
    <li><a href="{{ marketing_path('six_good_reasons') }}">6 boas razões para usar Symfony</a></li>
    <li><a href="{{ marketing_path('six_good_technical_reasons') }}">Os benefícios tecnológicos do Symfony em 6 lições</a></li>
    <li><a href="{{ marketing_path('ten_criteria') }}">10 critérios para escolher a framework correta</a></li>
{% endblock %}
