{% block title 'Symfony hisstal' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained_to_my_boss') }}">Symfony förklarat för min chef</a></li>
    <li><a href="{{ marketing_path('explained_to_a_developer') }}">Symfony förklarat för en utvecklare</a></li>
    <li><a href="{{ marketing_path('explained_to_a_system_administrator') }}">Symfony förklarat för en systemadministratör</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_manager') }}">Symfony förklarat för en projektledare</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_owner') }}">Symfony förklarat för en projektägare</a></li>
{% endblock %}
