{% block title 'Symfony på 5 minuter' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('why_use_a_framework') }}">Varför borde jag använda ett ramverk?</a></li>
    <li><a href="{{ marketing_path('when_use_a_framework') }}">När borde jag använda ett ramverk?</a></li>
    <li><a href="{{ marketing_path('six_good_reasons') }}">6 bra skäl att välja Symfony</a></li>
    <li><a href="{{ marketing_path('six_good_technical_reasons') }}">Symfonys tekniska fördelar i 6 enkla lektioner</a></li>
    <li><a href="{{ marketing_path('ten_criteria') }}">10 kriterier för att välja rätt ramverk</a></li>
{% endblock %}
