{% block title 'Komponenty Symfony' %}
{% block keywords '' %}
{% block description '' %}

{% block intro %}
    <p>
        Oprócz tego, że Symfony jest kompleksowym frameworkiem,
        jest również zbiorem samodzielnych i niezależnych komponentów.
    </p>
{% endblock %}

{% block body %}
    <h2 class="title_09"><a name="framework">Co to jest komponent?</a></h2>
    <p>
        Komponenty Symfony implementują wspólne funkcjonalności niezbędne
        do budowania serwisów internetowych. Są one podstawą frameworka
        Symfony, ale zarazem mogą być używane samodzielnie, nawet wówczas
        gdy nie używasz frameworka ponieważ nie posiadają one żadnych
        obowiązkowych zależności.
    </p>
    <h2 class="title_09"><a name="framework">Instalacja</a></h2>
    <p>
        Możesz zainstalować każdy z komponentów na wiele sposobów:
        <ul>
            <li>
                <strong>Zalecana</strong> jest instalacja poprzez Composer
                (<code>symfony/<strong>dashed-component-name</strong></code> na Packagist).
            </li>
            <li>
                Użycie oficjalnego repozytorium Git
                (<code>https://github.com/symfony/<strong>CamelCaseComponentName</strong></code>);
            </li>
            <li>
                <strong>Przestarzały</strong> sposób instalacji przy użyciu PEAR
                (<code>pear.symfony.com/<strong>CamelCaseComponentName</strong></code>);
            </li>
        </ul>
    </p>
    <p>Na przykład aby zainstalować komponent <code>HttpFoundation</code>:</p>
    <h3 class="title_05">Używając Git</h3>
    <div class="highlight-bash">
        <div class="highlight">
            <pre>git clone --branch {{ current_version }} https://github.com/symfony/HttpFoundation vendor/</pre>
        </div>
    </div>
    <h3 class="title_05">Używając PEAR</h3>
    <div class="highlight-bash">
        <div class="highlight">
                <pre>pear channel-discover pear.symfony.com
pear install symfony2/HttpFoundation</pre>
        </div>
    </div>
    <h3 class="title_05">Używając Composer</h3>
    <div class="highlight-bash">
        <div class="highlight">
                <pre>{
    "require": {
        "symfony/http-foundation": "{{ current_version }}.*"
    }
}</pre>
        </div>
    </div>
    <h2 class="title_09"><a name="framework">Komponenty</a></h2>
    <table class="component-list">
        <thead>
            <tr>
                <th>Komponent</th>
                <th>Opis</th>
                <th>Kod</th>
                <th>Dokumentacja</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong><a href="{{ component_path('BrowserKit') }}">BrowserKit</a></strong></td>
                <td>Symuluje zachowanie przeglądarki internetowej.</td>
                <td><a href="https://github.com/symfony/BrowserKit">Kod</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('ClassLoader') }}">ClassLoader</a></strong></td>
                <td>Ładuje automatycznie klasy projektu jeśli stosują one standardowe konwencje PHP.</td>
                <td><a href="https://github.com/symfony/ClassLoader">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'class_loader', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('Config') }}">Config</a></strong></td>
                <td>Pomaga zlokalizować, wczytać, połączyć, wypełnić i walidować wartośći konfiguracyjne.</td>
                <td><a href="https://github.com/symfony/Config">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'config/introduction', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('Console') }}">Console</a></strong></td>
                <td>Ułatwia tworzenie pięknych i testowalnych interfejsów linii poleceń.</td>
                <td><a href="https://github.com/symfony/Console">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'console/introduction', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('CssSelector') }}">CssSelector</a></strong></td>
                <td>Konwertuje selektory CSS na wyrażenia XPath.</td>
                <td><a href="https://github.com/symfony/CssSelector">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'css_selector', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('Debug') }}">Debug</a></strong></td>
                <td>Dostarcza narzędzia do debugowania kodu PHP.</td>
                <td><a href="https://github.com/symfony/Debug">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'debug', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('DependencyInjection') }}">DependencyInjection</a></strong></td>
                <td>Umożliwia standaryzację i centralizację sposobu konstruowania obiektów w Twojej aplikacji.</td>
                <td><a href="https://github.com/symfony/DependencyInjection">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'dependency_injection/introduction', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('DomCrawler') }}">DomCrawler</a></strong></td>
                <td>Ułatwia nawigację DOM dla dokumentów HTML i XML.</td>
                <td><a href="https://github.com/symfony/DomCrawler">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'dom_crawler', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('EventDispatcher') }}">EventDispatcher</a></strong></td>
                <td>Implementuje uproszczoną wersję wzorca projektowego Obserwator.</td>
                <td><a href="https://github.com/symfony/EventDispatcher">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'event_dispatcher/introduction', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('Filesystem') }}">Filesystem</a></strong></td>
                <td>Dostarcza podstawowe narzędzia dla systemu plików.</td>
                <td><a href="https://github.com/symfony/Filesystem">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'filesystem', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('Finder') }}">Finder</a></strong></td>
                <td>Znajduje pliki i katalogi poprzez intuicyiny interfejs.</td>
                <td><a href="https://github.com/symfony/Finder">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'finder', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('Form') }}">Form</a></strong></td>
                <td>&nbsp;</td>
                <td><a href="https://github.com/symfony/Form">Kod</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('HttpFoundation') }}">HttpFoundation</a></strong></td>
                <td>Definiuje obiektowo zorientowaną warstwę dla specyfikacji HTTP.</td>
                <td><a href="https://github.com/symfony/HttpFoundation">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'http_foundation/introduction', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('HttpKernel') }}">HttpKernel</a></strong></td>
                <td>Dostarcza elementy konstrukcyjne do tworzenia elastycznych i szybkich frameworków opartych o HTTP.</td>
                <td><a href="https://github.com/symfony/HttpKernel">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'http_kernel/introduction', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('Locale') }}">Locale</a></strong></td>
                <td>Dostarcza kod dla przypadków kiedy rozszerzenie intl nie jest dostępne.</td>
                <td><a href="https://github.com/symfony/Locale">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'locale', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('OptionsResolver') }}">OptionsResolver</a></strong></td>
                <td>Pomaga w konfiguracji obiektów przy użyciu tablic opcji.</td>
                <td><a href="https://github.com/symfony/OptionsResolver">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'options_resolver', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('Process') }}">Process</a></strong></td>
                <td>Wykonuje polecenia w podprocesach.</td>
                <td><a href="https://github.com/symfony/Process">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'process', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('PropertyAccess') }}">PropertyAccess</a></strong></td>
                <td>Dostarcza funkcjonalność odczytu oraz zapisu z/do obiektu lub tablicy przy użyciu prostej notacji znakowej.</td>
                <td><a href="https://github.com/symfony/PropertyAccess">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'property_access/introduction', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('Routing') }}">Routing</a></strong></td>
                <td>Mapuje żądanie HTTP na zestaw zmiennych konfiguracyjnych.</td>
                <td><a href="https://github.com/symfony/Routing">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'routing/introduction', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('Security') }}">Security</a></strong></td>
                <td>Dostarcza infrastrukturę dla złożonych systemów uwierzytelniania</td>
                <td><a href="https://github.com/symfony/Security">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'security/introduction', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('Serializer') }}">Serializer</a></strong></td>
                <td>Przekształca obiekty do wybranego formatu (XML, JSON, Yaml, ...) i odwrotnie.</td>
                <td><a href="https://github.com/symfony/Serializer">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'serializer', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('Stopwatch') }}">Stopwatch</a></strong></td>
                <td>Komponent Stopwatch dostarcza mechanizmy profilowania kodu.</td>
                <td><a href="https://github.com/symfony/Stopwatch">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'stopwatch', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('Templating') }}">Templating</a></strong></td>
                <td>Dostarcza wszystkie narzędzia niezbędne do budowy dowolnego rodzaju systemu szablonów.</td>
                <td><a href="https://github.com/symfony/Templating">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'templating', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('Translation') }}">Translation</a></strong></td>
                <td>&nbsp;</td>
                <td><a href="https://github.com/symfony/Translation">Kod</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('Validator') }}">Validator</a></strong></td>
                <td>&nbsp;</td>
                <td><a href="https://github.com/symfony/Validator">Kod</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong><a href="{{ component_path('Yaml') }}">Yaml</a></strong></td>
                <td>Wczytuje i eksportuje do plików YAML.</td>
                <td><a href="https://github.com/symfony/Yaml">Kod</a></td>
                <td><a href="{{ doc_path({'section': 'components', 'page': 'yaml/introduction', 'version': 'current'}) }}">Dokumentacja</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
