{% block title 'Was ist Symfony' %}
{% block keywords '' %}
{% block description 'Was ist Symfony - Beginnen Sie hier, um einen Überblick zu erhalten' %}

{% block intro %}
    <h2 class="title_05">SYMFONY AUF EINEN BLICK</h2>
    <p>
        Symfony ist ein Web-Framework, geschrieben in PHP5.
        <br />
        Beantwortet das Ihre Frage noch nicht?
        <br />
        Na gut, formulieren wir es noch einmal anders:
        <br />
        Symfony ist ein PHP-Framework, eine Philosophie und eine Community - die sich harmonisch ergänzen.
    </p>
{% endblock %}

{% block more 'Mehr erfahren' %}

{% block fiveminutes %}
    <h2 class="title_05">SYMFONY IN 5 MINUTEN</h2>
    <p></p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('why_use_a_framework') }}">Warum sollte ich ein Framework benutzen?</a></li>
        <li><a href="{{ marketing_path('when_use_a_framework') }}">Wann sollte ich ein Framework benutzen?</a></li>
        <li><a href="{{ marketing_path('six_good_reasons') }}">6 gute Gründe für Symfony</a></li>
        <li><a href="{{ marketing_path('six_good_technical_reasons') }}">Die technischen Vorzüge von Symfony in 6 einfachen Lektionen</a></li>
        <li><a href="{{ marketing_path('ten_criteria') }}">10 Kriterien für die Auswahl des geeigneten Frameworks</a></li>
    </ul>
{% endblock %}

{% block elevatorpitches %}
    <h2 class="title_05">ELEVATOR PITCHES</h2>
    <p>Symfony kurz erklärt für ...</p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('explained_to_my_boss') }}">... meinen Chef</a></li>
        <li><a href="{{ marketing_path('explained_to_a_developer') }}">... einen Entwickler</a></li>
        <li><a href="{{ marketing_path('explained_to_a_system_administrator') }}">... einen System-Administrator</a></li>
        <li><a href="{{ marketing_path('explained_to_a_project_manager') }}">... einen Projektmanager</a></li>
        <li><a href="{{ marketing_path('explained_to_a_project_owner') }}">... einen Projektverantwortlichen</a></li>
    </ul>
{% endblock %}
