{% block title 'Wat is Symfony' %}
{% block keywords '' %}
{% block description 'Wat is Symfony - Start hier als u een korte uitleg wilt' %}

{% block symfony_description %}
    &laquo; Symfony is een verzameling van PHP componenten, een
    web applicatie framework, een filosofie, en een community &mdash;
    alle werken samen in harmonie. &raquo;
{% endblock %}

{% block title_symfony_framework %}Symfony Framework{% endblock %}
{% block description_symfony_framework %}
    <p>
        Het toonaagevende PHP framework om websites en web applicaties
        te creëren. Gebasseerd op de Symfony componenten.
    </p>
{% endblock %}

{% block title_symfony_components %}Symfony Componenten{% endblock %}
{% block description_symfony_components %}
    <p>
        Een set losstaande, herbruikbare componenten waar de beste
        PHP-applicaties, zoals Drupal, phpBB en eZ Publish, op zijn
        gebouwd.
    </p>
{% endblock %}

{% block title_symfony_community %}Symfony Community{% endblock %}
{% block description_symfony_community %}
    <p>
        Een enorme gemeenschap van Symfony fans zetten zich in om
        PHP naar het volgende niveau te tillen.
    </p>
{% endblock %}

{% block title_symfony_philosophy %}Symfony Philosophy{% endblock %}
{% block description_symfony_philosophy %}
    <p>
        Het omarmen en bevorderen van professionaliteit, beste technieken,
        standaardisatie en interoperabiliteit van toepassing.
    </p>
{% endblock %}

{% block title_symfony_stats %}Symfony Project statistieken{% endblock %}
{% block symfony_stats_contributors %}+2,000 <span>project bijdragers</span>{% endblock %}
{% block symfony_stats_developers %}+300,000 <span>Symfony ontwikkelaars</span>{% endblock %}
{% block symfony_stats_downloads %}+5,000,000 <span>maandelijkse downloads</span>{% endblock %}

{% block title_symfony_five_minutes %}Symfony in 5 minuten{% endblock %}
{% block description_symfony_five_minutes %}
    <ul>
        <li><a href="{{ marketing_path('why_use_a_framework') }}">Waarom zou ik een framework gebruiken?</a></li>
        <li><a href="{{ marketing_path('when_use_a_framework') }}">Wanneer moet ik een framework gebruiken?</a></li>
        <li><a href="{{ marketing_path('six_good_reasons') }}">6 goede redenen om Symfony te gebruiken</a></li>
        <li><a href="{{ marketing_path('six_good_technical_reasons') }}">De technologische voordelen van Symfony in 6 eenvoudige lessen</a></li>
        <li><a href="{{ marketing_path('ten_criteria') }}">10 criteria voor het kiezen van het juiste framework</a></li>
    </ul>
{% endblock %}

{% block title_elevator_pitches %}Elevator pitches{% endblock %}
{% block description_elevator_pitches %}
    <p>Symfony2 uitgelegd...</p>
    <ul>
        <li><a href="{{ marketing_path('explained_to_my_boss') }}">... aan mijn verantwoordelijke</a></li>
        <li><a href="{{ marketing_path('explained_to_a_developer') }}">... aan een ontwikkelaar</a></li>
        <li><a href="{{ marketing_path('explained_to_a_system_administrator') }}">... aan een systeembeheerder</a></li>
        <li><a href="{{ marketing_path('explained_to_a_project_manager') }}">... aan een project manager</a></li>
        <li><a href="{{ marketing_path('explained_to_a_project_owner') }}">... aan een project eigenaar</a></li>
    </ul>
{% endblock %}

{% block title_quick_tour %}De snelle rondleiding{% endblock %}
{% block description_quick_tour %}
    <p>
        Wat zou beter kunnen zijn om je eigen geest te verrijken en dan
        zelf Symfony te proberen? Afgezien van een beetje tijd, kost het
        u niets. Stap voor stap verkent u de Symfony universum. Wees
        voorzichtig, Symfony kan verslavend zijn vanaf de eerste ontmoeting.
    </p>
{% endblock %}


{% block link_read 'Lezen' %}
{% block link_download_pdf 'Downloaden als PDF' %}

{% block title_symfony_ecosystem %}Het Symfony Ecosystem{% endblock %}
{% block description_symfony_ecosystem %}
    <p>Deze bekende PHP projecten zijn afkomstig uit het Symfony project:</p>
    <ul>
        <li><a href="http://silex.sensiolabs.org/">Silex</a>, PHP microframework gebouwd op de top van Symfony onderdelen</li>
        <li><a href="http://twig.sensiolabs.org/">Twig</a>, de snelle, veilige en moderne PHP templating engine</li>
        <li><a href="http://swiftmailer.org/">Swiftmailer</a>, de no-brainer oplossing om uw e-mails af te leveren</li>
    </ul>
{% endblock %}
