{% block title 'Qué es Symfony' %}
{% block keywords '' %}
{% block description 'Qué es Symfony - Empieza acá si quieres una breve explicación' %}

{% block intro %}
    <h2 class="title_05">UN VISTAZO A SYMFONY</h2>
    <p>
        Symfony es un Framework para desarrollar aplicaciones web en PHP.
        <br />
        ¿Esto no responde a tu pregunta?
        <br />
        Está bien, lo intentaremos nuevamente.
        <br />
        Symfony es un Framework PHP, una filosofía y una comunidad - todos trabajando conjuntamente en armonía.
    </p>
{% endblock %}

{% block more 'Aprende más' %}

{% block fiveminutes %}
    <h2 class="title_05">SYMFONY EN 5 MINUTOS</h2>
    <p></p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('why_use_a_framework') }}">¿Por qué debería usar un framework?</a></li>
        <li><a href="{{ marketing_path('when_use_a_framework') }}">¿Cuándo debería usar un framework?</a></li>
        <li><a href="{{ marketing_path('six_good_reasons') }}">6 buenas razones para usar Symfony</a></li>
        <li><a href="{{ marketing_path('six_good_technical_reasons') }}">Los beneficios tecnológicos de usar Symfony en 6 lecciones fáciles</a></li>
        <li><a href="{{ marketing_path('ten_criteria') }}">10 criterios para escoger el framework correcto.</a></li>
    </ul>
{% endblock %}

{% block elevatorpitches %}
    <h2 class="title_05">QUIERO SABER MAS</h2>
    <p>Explicándole Symfony...</p>
    <ul class="list_04">
        <li><a href="{{ marketing_path('explained_to_my_boss') }}">... a mi jefe</a></li>
        <li><a href="{{ marketing_path('explained_to_a_developer') }}">... a un desarrollador</a></li>
        <li><a href="{{ marketing_path('explained_to_a_system_administrator') }}">... a un administrador de sistemas</a></li>
        <li><a href="{{ marketing_path('explained_to_a_project_manager') }}">... al gerente de un proyecto</a></li>
        <li><a href="{{ marketing_path('explained_to_a_project_owner') }}">... al dueño del proyecto</a></li>
    </ul>
{% endblock %}
