{% block title 'Qué es Symfony' %}
{% block keywords '' %}
{% block description 'Qué es Symfony - Empieza por aquí si quieres una breve explicación' %}

{% block symfony_description %}
    &laquo; Symfony es un conjunto de componentes PHP, un framework
    para desarrollar aplicaciones web, una filosofía de trabajo y una
    comunidad que funcionan conjuntamente en armonía. &raquo;
{% endblock %}

{% block title_symfony_framework %}Framework Symfony{% endblock %}
{% block description_symfony_framework %}
    <p>
        El framework PHP líder para crear sitios y aplicaciones web.
        Creado con los propios componentes de Symfony.
    </p>
{% endblock %}

{% block title_symfony_components %}Componentes Symfony{% endblock %}
{% block description_symfony_components %}
    <p>
        Conjunto de componentes desacoplados y reutilizables con los
        que se desarrollan las mejores aplicaciones PHP, como Drupal,
        phpBB y eZ Publish.
    </p>
{% endblock %}

{% block title_symfony_community %}Comunidad Symfony{% endblock %}
{% block description_symfony_community %}
    <p>
        Una comunidad enorme de fans comprometidos a llevar a PHP
        al próximo nivel.
    </p>
{% endblock %}

{% block title_symfony_philosophy %}Filosofía Symfony{% endblock %}
{% block description_symfony_philosophy %}
    <p>
        Symfony utiliza y promociona las mejores prácticas, el
        desarrollo profesional, la estandarización y la
        interoperabilidad entre aplicaciones.
    </p>
{% endblock %}

{% block title_symfony_stats %}Estadísticas del proyecto Symfony{% endblock %}
{% block symfony_stats_contributors %}+2,000 <span>colaboradores</span>{% endblock %}
{% block symfony_stats_developers %}+300,000 <span>programadores Symfony</span>{% endblock %}
{% block symfony_stats_downloads %}+5,000,000 <span>descargas mensuales</span>{% endblock %}

{% block title_symfony_five_minutes %}Symfony en 5 minutos{% endblock %}
{% block description_symfony_five_minutes %}
    <ul>
        <li><a href="{{ marketing_path('why-use-a-framework') }}">¿Por qué debería utilizar un framework?</a></li>
        <li><a href="{{ marketing_path('when-use-a-framework') }}">¿Cuándo debería utilizar un framework?</a></li>
        <li><a href="{{ marketing_path('six-good-reasons') }}">6 buenas razones para utilizar Symfony</a></li>
        <li><a href="{{ marketing_path('six-good-technical-reasons') }}">Los beneficios de usar Symfony en 6 lecciones breves</a></li>
        <li><a href="{{ marketing_path('ten-criteria') }}">10 criterios para elegir el framework adecuado</a></li>
    </ul>
{% endblock %}

{% block title_elevator_pitches %}Explicando Symfony{% endblock %}
{% block description_elevator_pitches %}
    <p>Cómo explicar Symfony2...</p>
    <ul>
        <li><a href="{{ marketing_path('explained-to-my-boss') }}">... a tu jefe</a></li>
        <li><a href="{{ marketing_path('explained-to-a-developer') }}">... a un programador</a></li>
        <li><a href="{{ marketing_path('explained-to-a-system-administrator') }}">... a un administrador de sistemas</a></li>
        <li><a href="{{ marketing_path('explained-to-project-manager') }}">... a un jefe de proyecto</a></li>
        <li><a href="{{ marketing_path('explained-to-project-owner') }}">... al responsable del proyecto</a></li>
    </ul>
{% endblock %}

{% block title_quick_tour %}Guía rápida{% endblock %}
{% block description_quick_tour %}
    <p>
        ¿Qué puede ser mejor para hacerte una idea sobre Symfony que probarlo tú mismo? Aparte de un poco de tiempo, no te costará nada más. Explora el universo Symfony paso a paso pero ten cuidado, Symfony puede volverse adictivo desde el primer minuto.
    </p>
{% endblock %}

{% block link_read 'Leer' %}
{% block link_download_pdf 'Descargar como PDF' %}

{% block title_symfony_ecosystem %}El ecosistema Symfony{% endblock %}
{% block description_symfony_ecosystem %}
    <p>Los siguientes proyectos PHP ha surgido a partir del framework Symfony:</p>
    <ul>
        <li><a href="http://silex.sensiolabs.org/">Silex</a>, el microframework PHP creado con los componentes Symfony</li>
        <li><a href="http://twig.sensiolabs.org/">Twig</a>, el motor de plantillas PHP moderno, rápido y seguro</li>
        <li><a href="http://swiftmailer.org/">Swiftmailer</a>, la mejor solución para enviar emails en tus aplicaciones PHP</li>
    </ul>
{% endblock %}
