{% block title 'Symfony за 5 минут' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('why-use-a-framework') }}">Почему я должен использовать фреймворк?</a></li>
    <li><a href="{{ marketing_path('when-use-a-framework') }}">Когда я должен использовать фреймворк?</a></li>
    <li><a href="{{ marketing_path('six-good-reasons') }}">6 хороших причин для использования Symfony</a></li>
    <li><a href="{{ marketing_path('six-good-technical-reasons') }}">Технологические преемущества использования Symfony в 6 простых уроках</a></li>
    <li><a href="{{ marketing_path('ten-criteria') }}">10 критериев для выбора правильного фреймворка</a></li>
{% endblock %}