{% block title 'Symfony за 5 минут' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('why_use_a_framework') }}">Почему я должен использовать фреймворк?</a></li>
    <li><a href="{{ marketing_path('when_use_a_framework') }}">Когда я должен использовать фреймворк?</a></li>
    <li><a href="{{ marketing_path('six_good_reasons') }}">6 хороших причин для использования Symfony</a></li>
    <li><a href="{{ marketing_path('six_good_technical_reasons') }}">Технологические преемущества использования Symfony в 6 простых уроках</a></li>
    <li><a href="{{ marketing_path('ten_criteria') }}">10 критериев для выбора правильного фреймворка</a></li>
{% endblock %}