{% block title 'Symfony Elevator Pitches' %}
{% block keywords '' %}
{% block description '' %}

{% block summary %}
    <li><a href="{{ marketing_path('explained_to_my_boss') }}">Symfony explained to my boss</a></li>
    <li><a href="{{ marketing_path('explained_to_a_developer') }}">Symfony explained to a developer</a></li>
    <li><a href="{{ marketing_path('explained_to_a_system_administrator') }}">Symfony explained to a system administrator</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_manager') }}">Symfony explained to a project manager</a></li>
    <li><a href="{{ marketing_path('explained_to_a_project_owner') }}">Symfony explained to a project owner</a></li>
{% endblock %}
